@import "styles/style.scss";

.main {
  border-radius: 10px;
  box-shadow: (0.5px 0.5px 0.5px 0.5px rgba(186, 186, 186, 71%));
  border: 3px solid #FFFFFF;
  display: flex;
  cursor: pointer;
}

.purple {
  background: linear-gradient(90deg,#7429E6,#C480E8);
  color: #ffffff;
  .squareBig {
    background-color: #ffffff;
  }
  .squareSmall {
    background-color: #ffffff;
  }
  .rightImage  {
    .rightIcon {
      color: #b274f8;
      font-size: 111.36px;
    }
  }
}
.white {
  color: #000000;
  background-color: #ffffff;
  .squareBig {
    background-color: #F6EDFE;
  }
  .squareSmall {
    background-color: #F6EDFE;
  }
  .rightImage  {
    .rightIcon {
      color: #F5F5F5;
      font-size: 111.36px;
    }
  }

}

.bigBtn {
  width:536px;
  height:159px;
  align-items: center;
  .insideBig {
    height: 95px;
    margin-left: 32px;
    display: flex;
    .squareBig {
      width: 95px;
      height: 95px;
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      .squareIconBig{
        font-size: 57.11px;
        color: #7429e6;
      }
    }
    .rectangleBig {
      width: auto;
      display: grid;
      padding-left: 15px;
      h3 {
        font-size: 30px;
        font-weight: bold;
      }
      .smallText{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p {
          padding-right: 60px;
          font-size: 18px;
        }
      }
    }
  }
}

.smallBtn {
  width: 313px;
  height: 157px;
  .insideSmall {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .squareSmall {
      width: 70px;
      height: 70px;
      margin: 19px 19px auto 20px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      .squareIcon {
        font-size: 46.12px;
        color:#b274f8
      }
    }
    .totalNumber {
      margin-top: 28px;
      font-size: 45px;
      font-weight: bold;
      z-index:1
    }
    .totalText {
      font-weight: bold;
      font-size: 23px;
      margin-left: 19px;
      z-index:1
    }
    .rightImage {
      position: absolute;
      right: 16.2px;
      top: 29px;
    }
  }
}
