@import "styles/style.scss";
.container {
  width: 100%;
  .button {
    margin-top: 20px;
    button {
      width: 100%;
    }
  }
}

.tittle {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.content {
  p {
    font-size: 15px;
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen {
  @include mobile {
    .container {
      width: 100%;
    }
    .content {
      p {
        width: 75%;
        margin: auto;
      }
    }
  }
}
