@import "styles/style.scss";
.container {
  width: 400px;

  .content {
    p {
      font-size: 15px;
      text-align: center;
    }
  }
  .button {
    margin-top: 20px;
    button {
      width: 100%;
    }
  }
}

.tittle {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.content {
  p {
    font-size: 15px;
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.button {
  button {
    width: 320px;
  }
}

@media screen {
  @include mobile {
    .container {
      width: 300px;
    }
    .content {
      p {
        width: 215px;
        margin: auto;
      }
    }
  }
}
