@import "styles/style.scss";

.profileSidebar {
  width: 317px;
  border-radius: 0 0 30px 0;
  background-color: $color-white;
  padding-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);

  @include mobile {
    width: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

.headerSidebar {
  background-color: $color-white;
  height: 103px;
  max-width: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);

  @include mobile {
    display: flex;
    align-items: center;
    box-shadow: none;
  }
}

.accordion_summary {
  padding-right: 34px;
}

.accordion_summary_active {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

.sidebar_title {
  padding: 37px 110px 37px 50px;
  font-size: 25px;
  font-weight: $fw-semibold;
  color: $color-purple;
  white-space: nowrap;

  @include mobile {
    display: inline-flex;
    font-size: 22px;
    padding: 4px 0 4px 34px;
    width: 100%;
  }

  & .active {
    margin-left: 10px;
    color: $color-purple;
    font-weight: $fw-semibold;
  }
}

.menuSidebar {
  margin-top: 49px;
  max-width: 100%;

  & .active {
    color: $color-purple;
    font-weight: $fw-bold;
  }

  @include mobile {
    margin-top: 0;
  }
}

.menu_list {
  margin-left: 13px;
  width: 217px;
  max-width: 100%;

  @include mobile {
    width: 100%;
    margin: 0;
    padding: 20px 34px 35px;
  }
}

.menu_item {
  list-style-type: none;
  font-size: 18px;
  padding-bottom: 15px;
  margin-top: 22px;
  border-bottom: 1px solid $color-grey-ba;

  &:hover {
    color: $color-grey-c;
  }
}

.menu_item > span {
  padding-right: 10px;
  color: $color-purple;
}

.accordion {
  border-bottom: 1px solid $color-grey-ba;
  margin: 0;
  & > div {
    font-size: 18px;
    padding: 16px 16px 0 0;
  }
  .AccordionLi {
    margin-top: 0;
    padding-bottom: 0;
    border: none;
  }
  &:hover:last-child {
    color: $color-grey-c;
  }
}

.desktop {
  display: block;

  @include mobile {
    display: none;
  }
}

.mobile {
  display: none;

  @include mobile {
    display: block;
  }
}
