@import "styles/style.scss";

%frame {
  max-width: 380px;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
}

.title {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.coupon {
  margin: 23px 0 28px;
  padding: 0 6px 0;
  @extend %frame;

  @include mobile {
      max-width: 310px;
  }
}

.details {
  display: flex;
  flex-direction: row;
  padding: 22px 0 26px;
  border-top: solid 2px #ededed;
  justify-content: space-between;
}

.button {
  width: 102px;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;

  @include mobile {
      width: 92px;
      height: 41px;
      font-size: 14px;
      line-height: 1.21;
  }
}

.input {
  width: 216px;
  height: 46px;

  @include mobile {
      width: 180px;
      height: 42px;
  }
}

.reciept {
  @extend %frame;
  padding: 31px 22px 29px;
  
  @include mobile {
    max-width: 310px;
}
}

.prices {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.name {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #8100ef;
}

.dots {
  position: absolute;
  left: 232px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000;

  @include mobile {
      left: 180px;
  }
}

.priceValue {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: 0.14px;
  text-align: right;
  color: #000;
}

.submitField {
  border-top: solid 2px #ededed;
  margin: 22px 0 0;
  padding: 0;
}

.totalField {
  margin: 22px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.total {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000;
}

.totalPrice {
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.92;
  letter-spacing: 0.25px;
  text-align: right;
  color: #8100ef;
}

.checkbox {
  margin: 19px 0 0;
  display: flex;
  align-items: start;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}

.submitBtn {
  margin: 22px 0 0;
  width: 100%;
  height: 63px;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

  @include mobile {
      width: 300px;
      height: 45px;
      font-size: 15px;
      line-height: 1.2;
  }
}
