@import "styles/style.scss";

.main {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: solid 1.5px $color-grey-dfe1;
  background-color: $color-white;
  width: 258px;
  height: 312px;
  padding: 18px 18px 16px 18px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 20px 0 $color-black-a07;
  }
  .icon {
    display: none;
  }
  .image_container {
    width: 222px;
    height: 218px;
  }
  .image_name {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: $color-grey-1c;
  }
  .image_info {
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: $color-grey-a2;
  }
}

/*Product Select style*/

.main_select {
  position: relative;
  border: 1.5px solid $color-purple-g34-a100;

  .icon_select {
    background-color: $color-purple-g34-a100;
    width: 28px;
    height: 29px;
    font-size: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -14px;
    left: -14px;
    border-radius: 15px;
  }
}
