@import "styles/style.scss";

.main {
  position: relative;
  padding-top: $header-desktop-height;
  min-height: 100vh;

  @include mobile {
    padding-top: $header-mobile-height;
    min-height: fit-content;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
