@import "styles/style.scss";

.supportSection {
    width: 100%;
    min-height: 395px;
    background-color: aliceblue;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 43px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

.wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    @include mobile {
        flex-direction: column;
        padding: 20px 0;
    }
}

.buttons {
    display: flex;
    margin-top: 35px;

    @include laptop {
        // flex-direction: column;
        width: 100%;
    }

    @include tablet {
        flex-direction: column;
        justify-content: center;
    }

    @include mobile {
        flex-direction: column;
    }

    .btn:not(:last-child) {
        margin-right: 20px;
        // margin-bottom:10px ;

    }
}

.btnItem {
    border-color: rgba(129, 0, 239, 0.8);
    color: rgba(129, 0, 239, 0.8);

    @include laptop {

        margin-top: 10px;
    }

    @include tablet {

        margin-top: 10px;
    }

    @include mobile {

        margin-top: 10px;
    }
}

.heading {
    color: rgba(129, 0, 239, 0.8);
    margin-bottom: 15px;


    @include tablet {
        text-align: center;
    }

    @include mobile {
        text-align: center;
    }
}

.subTitle {
    font-size: 23px;
    margin-bottom: 20px;


    @include tablet {
        text-align: center;
    }

    @include mobile {
        text-align: center;
    }
}

.text {
    font-size: 15px;

    @include tablet {
        text-align: center;
    }

    @include mobile {
        text-align: center;
    }
}

.content {
    margin-left: 15px;
    width: 60%;
}

.img {
    width: 40%;
    height: 100%;
}