@import "styles/style.scss";
.tittle {
  font-size: 18px;
  font-weight: 600;
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
}
.content {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.button {
  width: 420px;
  display: flex;
  justify-content: space-between;
  .back {
    background: $color-white none;
    color: $color-black;
    border: 1px solid $color-black;
    padding: 10px;
    width: 200px;
  }
  .go {
    padding: 10px;
    width: 200px;
  }
}

@media screen {
  @include mobile {
    .tittle {
      font-size: 16px;
      font-weight: 600;
      width: 235px;
    }
    .content {
      width: 215px;
    }
    .button {
      width: 300px;
      justify-content: center;
      flex-wrap: wrap;
      .go {
        margin-top: 10px;
      }
    }
  }
}
