@import "styles/style.scss";

.photoslider {
  position: relative;
  max-width: 820px;
  width: 100%;
}

.swiper_main {
  text-align: center;
  font-size: 18px;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 15px;

  @include mobile {
    height: 320px;
  }

  & > div {
    box-sizing: border-box;
  }
}

.swiper_gallery {
  text-align: center;
  font-size: 18px;
  width: 100%;
  aspect-ratio: 3 / 1;
  gap: 15px;
  display: flex;
  margin-bottom: 30px;

  @include mobile {
    height: 110px;
  }

  & > div {
    box-sizing: border-box;
  }
}

.slide {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: $color-grey-f4;

  .slide_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.pagination_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 15px;

  & .bullet {
    width: 17px;
    height: 17px;
    border: 2px solid $color-black;
    border-radius: 10px;
    background: transparent;
  }

  & .bullet_active {
    border-color: $color-purple;
    background-color: $color-purple;
  }
}
