@import "styles/style.scss";

.size {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultSize {
  min-height: 85px;

  @include mobile {
    min-height: 54px;
  }
}

.largeSize {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  @include mobile {
    min-height: 150px;
  }
}

.primaryColor {
  color: $color-purple;
}

.secondaryColor {
  color: $color-black;
}

.primaryBG {
  background: $color-grey-e2;

  &:hover {
    background: $color-grey-e2;
  }
}

.secondaryBG {
  background: $color-white;

  &:hover {
    background-color: $color-white;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: $color-purple;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.iconDefault {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  @include mobile {
    width: 25px;
    height: 25px;
    margin-right: 0px;
  }
}

.iconLarge {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;

  @include mobile {
    width: 25px;
    height: 25px;
    margin-bottom: 0px;
  }
}

.title {
  line-height: 18px;
  font-size: 20px;

  @include mobile {
    line-height: 13px;
    font-size: 14px;
  }
}
