@import "/styles/fonts.scss";
@import "/styles/colors.scss";

.radio_button > span:first-child{
    color: $color-purple;
}
.radio_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}