@import "/styles/colors.scss";

.radio_button > span:first-child{
    color: #8100ef;
}

.title{
    font-size: 14px;
    font-family: inherit;
    font-weight: 900;
    color: $color-purple;
}

.radio_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}