@import "styles/style.scss";

.wrapper {
  width: 100%;
}

.label {
  color: $color-purple;
  font-size: 1em;
  font-weight: $fw-bold;
  margin-bottom: 5px;
}

.textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  background-color: $color-white;
  width: 100%;
  min-height: 235px;
  padding: 35px 25px;
  font-size: 1em;
  font-family: inherit;

  &::placeholder {
    font-weight: $fw-medium;
  }
}
