@import "styles/style.scss";
.tittle {
  p {
    color: $color-purple;
    font-size: 18px;
    font-weight: 600;
  }
}
.content {
  p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}

.button {
  margin-top: 10px;
  button {
    padding: 10px 70px 10px 70px;
  }
}
