@import "styles/style.scss";

.product_item_container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.product_favorites {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 19px;
  z-index: 5;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    right: 8px;
    opacity: 0;
    background-color: rgba(#1976d2, 0.4);
    border-radius: 50%;
    scale: 1;
    transform-origin: center;
  }

  &:hover {
    color: lighten($color-purple, 10%);
    &::before {
      animation: hoverAnimation 0.05s forwards;
    }
  }
}

.isFavorite {
  color: $color-purple;
}

.product_item_top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  color: #000;
  font-size: 14px;
  padding-bottom: 15px;
  margin-right: 15px;

  .product_item_image {
    background-color: $color-grey-f4;
    min-height: 300px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    width: 100%;
  }

  .img {
    transform: scale(0.72);
  }
}

.product_item_bottom {
  max-width: 276px;
  min-width: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .add_button {
    position: absolute;
    top: 3px;
    right: 0px;
    background-color: $color-white;
    cursor: pointer;
  }

  .product_item_description {
    line-height: 1.5em;
    margin-bottom: 5px;
  }

  .product_title {
    font-weight: bold;
    color: $color-purple;
    font-size: 18px;
    margin-bottom: 6px;
  }

  .product_subtitle {
    align-self: start;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .product_subtitle ~ p {
    font-size: 13px;
    line-height: 1.3rem;
    color: $color-grey-8;
  }

  .price {
    margin-bottom: 10px;
  }
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(8);
    opacity: 0.15;
  }
}
