@import "/styles/style.scss";

.content {
  display: flex;
  padding: $header-desktop-height + 94px 140px 107px;
  gap: 45px;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: $header-mobile-height + 24 16px 50px;
  }
}

.sidebar {
  position: sticky;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;

  @include mobile {
    gap: 25px;
  }
}

.info {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 25px;
  border-radius: 5px;
  background-color: black;
  overflow: hidden;

  font-size: 18px;
  font-weight: 600;
  line-height: 24;
  text-align: left;
  color: #fff;

  @include mobile {
    height: 45px;

    font-size: 12px;
    line-height: 1.17;
  }
}

.info::after {
  content: "";
  position: absolute;
  top: -25px;
  right: -30px;
  width: 70px;
  height: 70px;
  opacity: 0.75;
  border-radius: 50%;
  background-image: linear-gradient(76deg, $color-cyan 5%, $color-purple 51%);
}

.addresses {
  .address {
    div {
      border-radius: 0;
      margin: 0;

      p {
        min-height: 148px;
      }

      @include mobile {
        p {
          min-height: 64px;
        }
      }
    }
  }
}

.addBtn {
  height: 99px;
  width: 100%;
  button {
    height: 100%;
    border-radius: 0 0 5px 5px;
  }

  @include mobile {
    height: 52px;
    margin-bottom: 5px;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 55px;

  button {
    font-size: 18px;
    min-width: 249px;
  }

  @include mobile {
    button {
      width: 100%;
      font-size: 15px;
    }
  }
}
