@import "styles/style.scss";

.container {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button__wrapper {
  margin-bottom: 70px;

  @include mobile {
    display: none;
  }
}

.content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.tabs {
  margin-bottom: 30px;
  height: 81px;

  @include mobile-tablet {
    display: none;
  }
}

.tabs_mobile {
  margin-bottom: 30px;
  height: 20px;
  box-shadow: none;

  & button {
    font-size: 13px !important;
  }

  @include laptop-desktop {
    display: none;
  }
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #fdfaff;

  & > div,
  & .input,
  & > button {
    width: 100%;
    height: 53px;
  }

  @include mobile-laptop {
    flex-wrap: wrap;
    justify-content: space-evenly;
    & > div,
    & > button {
      width: 30%;
      @include tablet {
        width: 22%;
      }

      @include mobile {
        width: 45%;
      }
    }
  }

  .button_purple {
    max-width: 150px;
    background: $color-purple;
  }

  .button_red {
    max-width: 150px;
    background: $color-red;
  }

  .button_green {
    min-width: 178px;
    max-width: 190px;
    background: $color-green;
  }

  .button_black {
    width: 53px;
    background: $color-black;
    @include tablet-laptop {
      margin-left: 0;
    }
  }
}

.bottom_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 0 40px 0;

  & > div {
    margin-right: 35px;
  }

  .bottom_content_select > div {
    width: 230px;
  }

  @include mobile {
    p {
      display: none;
    }
  }
}

.pagination {
  @include mobile-tablet {
    display: none;
  }
}

.modal {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-size: 20px;
    width: 570px;
    text-align: center;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    gap: 20px;

    button {
      width: 100%;
    }

    button:last-child {
      background: $color-black;
    }
  }

  @include mobile {
    width: 296px;
    gap: 0;

    &__title {
      font-size: 11px;
      width: 220px;
      margin: 0 auto;
      margin-bottom: 14px;
    }

    &__btns {
      margin-top: 20px;
      gap: 10px;

      button:nth-child(2) {
        background: $color-purple;
      }
    }
  }
}

.table_sign_icon {
  font-size: 32px;
  @include mobile-tablet {
    font-size: 22px;
  }
}

.modal_select {
  font-size: 15px;
  @include mobile {
    font-size: 11px;
  }
}
