@import "styles/style.scss";

.container {
  @include container;
  max-width: 1780px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button__wrapper {
  margin-bottom: 70px;

  @include mobile {
    display: none;
  }
}

.content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.tabs {
  margin-bottom: 30px;
  height: 81px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #FDFAFF;
  padding: 29px 36px;

  @include mobile-tablet {
    padding: 16px 17px;
  }

  div {
    height: 53px;
  }

  .input,
  .select,
  .button {
    height: 53px;
    width: 100%;
  }

  .button_purple {
    max-width: 150px;
    background: $color-purple;
  }

  .button_red {
    max-width: 150px;
    background: $color-red;
  }

  .button_green {
    max-width: 190px;
    background: $color-green;
  }

  .button_black {
    width: 53px;
    margin-left: 93px;
    background: $color-black;
    @include tablet-laptop {
      margin-left: 0;
    }
  }
}

.bottom_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 0 40px 0;

  & > div {
    margin-right: 35px;
  }

  .bottom_content_select > div {
    width: 230px;
  }
}

.modal {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-size: 20px;
    width: 570px;
    text-align: center;
    margin: 0 auto;
  }

  &__btns {
    display: flex;
    gap: 20px;

    button {
      width: 100%;
    }

    button:nth-child(2) {
      background: $color-black;
    }
  }

  @include mobile {
    width: 296px;
    gap: 0;

    &__title {
      font-size: 11px;
      width: 220px;
      margin: 0 auto;
      margin-bottom: 14px;
    }

    &__btns {
      margin-top: 20px;
      gap: 10px;

      button:nth-child(2) {
        background: $color-purple;
      }
    }
  }
}


._brand_orders {
  @include mobile-tablet {
    display: none;
  }
}

._brand_orders_mobile {
  display: none;

  @include mobile-tablet {
    display: flex;
    justify-content: space-between;

    .top_btn_mobile {
      display: flex;
      gap: 30px;
    }
    .bot_btn_mobile {
      display: flex;
      gap: 30px;

      button {
        width: 100%;
      }
    }
  }

  @include mobile {
    flex-direction: column;
    gap: 44px;

    .top_btn_mobile {
      height: 33px;
      width: 100%;
      font-size: 12px;

      div {
        width: 100%;
        height: 33px;

        input {
          font-size: 12px;
        }

        div {
          height: 33px;
        }
      }
    }
    .bot_btn_mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 14px;

      button {
        min-width: 48%;
        height: 33px;
      }
    }
  }
}

._brand_orders_mobile_bot {
  display: none;

  @include mobile-tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 24px;
  }

  @include mobile {
    margin-top: 19px;
    font-size: 12px;
    gap: 15px;
    div {
      width: 95px;
    }
  }
}

.table_sign_icon {
  font-size: 32px;
  @include mobile-tablet {
    font-size: 22px;
  }
}

.modal_select {
  font-size: 15px;
  @include mobile {
    font-size: 11px;
  }
}
