@import "styles/style.scss";

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;

  @include mobile-tablet {
    padding-top: 25px;
  }
}

.navigation {
  width: 100%;
  margin-bottom: 60px;

  & ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
    font-weight: $fw-regular;

    @include mobile-tablet {
      width: 1000px;
    }
  }

  @include mobile-tablet {
    margin-bottom: 30px;
  }
}

.order_wrapper {
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  padding-bottom: 20px;
  gap: 20px;

  @include mobile-tablet {
    padding: 5px 20px;
  }
}

.inventory_wrapper {
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  padding-bottom: 20px;
  gap: 20px;

  @include mobile-tablet {
    padding: 5px 20px;
  }
}

.caption {
  font-size: 30px;
  font-weight: $fw-regular;
  margin-bottom: 45px;

  @include mobile-tablet {
    margin-bottom: 20px;
    font-size: 15px;
  }
}

.demands_wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 25px;

  @include mobile-tablet {
    flex-direction: column;
  }
}

.demands_button {
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  width: 812px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 19px;
  align-items: center;

  @include mobile-tablet {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;
  }
}

.icon_wrapper {
  width: 61px;
  height: 61px;
  background: $color-light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  @include mobile-tablet {
    width: 32px;
    height: 32px;
  }

  .icon {
    font-size: 46.12px;
    color: $color-purple-f;

    @include mobile-tablet {
      font-size: 14px;
    }
  }
}

.text {
  font-size: 30px;
  padding-left: 19px;

  span {
    font-weight: $fw-bold;
    color: $color-purple;
  }

  @include mobile-tablet {
    font-size: 14px;
  }
}

.scrollbar {
  margin-bottom: 45px;

  & > :global(.simplebar-horizontal) {
    background-color: $color-grey-f4;
    border-radius: 5px;

    & > div::before {
      opacity: 1;
      background: $color-purple;
    }
  }

  @include mobile-tablet {
    margin-bottom: 20px;
  }
}
