@import 'styles/style.scss';

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 40px;

    @include mobile-tablet {
        padding: 0 15px;
    }


    * {
        margin: 0;
    }

    h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: normal;
        margin-bottom: 50px;

        @include mobile-tablet {
            font-size: 15px;
            margin-bottom: 30px;

        }
    }
}

.nav {
    width: 100%;
    overflow-x: auto;
}

.navigation {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 60px 0;
    overflow-x: auto;
    margin-bottom: 20px;

    @include mobile-tablet {
        padding: 20px 0;
        width: 1000px;
    }

    li {

        font-size: 18px;
    }

}

.backBtn {
    display: flex;
    align-items: center;
    background: $color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    color: $color-purple;
    padding: 13px 16px;
    font-size: 15px;
    margin-bottom: 50px;
}

.brandInfo {
    display: flex;
    margin-bottom: 50px;

    @include mobile-tablet {
        margin-bottom: 30px;
    }
}

.brandItem {
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-right: 3px solid #f4f4f4;
    width: 100%;

    @include mobile-tablet {
        border-right: none;
        padding-right: 0;
    }


}

.brandDisplay {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 100%;

    @include mobile-tablet {
        padding-left: 20px;
    }
}

.iconWrapper {
    width: 95px;
    height: 95px;
    background-color: #f6edfe;
    border-radius: 5px;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-purple;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;



    @include mobile-tablet {
        width: 44px;
        height: 44px;
        font-size: 20px;
        margin-right: 15px;
    }
}

.brandName {
    color: $color-purple;
    font-size: 19px;
    margin: 0;
    padding: 0;

    @include tablet {
        font-size: 12px;
    }

    @include mobile {
        font-size: 12px;
    }

}

.description {
    font-size: 28px;
    font-weight: bold;



    @include tablet {
        font-size: 12px;
        width: 100%;

    }

    @include mobile {
        font-size: 12px;
        width: 100%;

    }
}


.brandUploads {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include mobile-tablet {
        flex-direction: column;
        margin-bottom: 30px;

    }
}

.uploadLogo {

    flex: 1;
    margin-right: 20px;

    @include mobile-tablet {
        margin-right: 0;
        margin-bottom: 40px;
    }

    p {
        font-size: 19px;
        margin-bottom: 20px;
    }
}

.fileUploader {
    padding-top: 60px;
    padding-bottom: 60px;
}

.uploadBanner {
    p {
        font-size: 19px;
        margin-bottom: 20px;

    }

    flex: 1;

}

.uploader {
    padding: 30px;
    box-shadow: 0 0 10px 0 #e8e8e8;
    border-radius: 7px;
    margin-bottom: 40px;
}

.brandBlackBtn {
    background-color: black;
    color: $color-white;
    padding: 15px 100px;

    @include mobile-tablet {
        width: 100%;
    }
}

.formSection {
    width: 100vw;
    background: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 145px;
}


.firstLineInputs,
.secondLineInputs {
    display: flex;
    margin-bottom: 70px;

    @include mobile-tablet {
        flex-direction: column;
        margin-bottom: 0;

    }

}

.inputTextArea {
    @include mobile-tablet {
        margin-bottom: 20px;
    }

    div {
        div {
            div {
                input {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    font-size: 18px;

                    @include mobile-tablet {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}

.input {
    @include mobile-tablet {
        margin-bottom: 20px;
    }

    div {
        div {
            div {
                input {
                    padding-top: 25px;
                    padding-bottom: 25px;
                    font-size: 18px;

                    @include mobile-tablet {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    flex: 1;

    &:not(:last-child) {
        margin-right: 40px;

        @include mobile-tablet {
            margin-right: 0;
        }
    }
}

.saveBtn {
    margin-top: 50px;
}