@import "styles/style.scss";

.container {
  @include container;
  max-width: 1780px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button__wrapper {
  margin-bottom: 70px;

  @include mobile {
    display: none;
  }
}

.content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.tabs {
  margin-bottom: 30px;
  height: 81px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  gap: 30px;

  .input,
  .select,
  .button {
    height: 53px;
    width: 100%;
  }

  .button_purple {
    max-width: 150px;
    background: $color-purple;
  }
  .button_red {
    max-width: 150px;
    background: $color-red;
  }
  .button_green {
    max-width: 190px;
    background: $color-green;
  }
}

.bottom_content_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 0 40px 0;
  & > div {
    margin-right: 35px;
  }
  .bottom_content_select > div {
    width: 230px;
  }
}
