@import "styles/style.scss";

.breadCrumbs {
    width: 100%;
    height: 50px;
    background: #dedede;
    margin-top: 137px;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    height: min-content;
    justify-content: center;
    margin-top: 50px;
    padding: 0 20px 30px 20px;

    @include laptop {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
    }
}

.leftSide {
    // object-fit: contain;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    margin-right: 24px;
    height: max-content;
    padding: 0 0 30px 0;

    @include laptop {
        margin-bottom: 20px;
    }

    @include tablet {
        margin-bottom: 20px;
    }

    @include mobile {
        margin-bottom: 20px;

    }
}

.mainContent {
    display: flex;
    flex-direction: column;

}

.accordions {
    object-fit: contain;
    border-radius: 5px;
    border: solid 1px #888;
    background-color: #fff;
}

.heading {
    margin-top: 50px;
    margin-bottom: 25px;
    color: #8100ef;
}