@import "/styles/style.scss";

.main {
  padding-top: $header-desktop-height;

  @include mobile {
    padding-top: $header-mobile-height;
  }
}

.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;

  @include tablet-laptop {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.background {
  width: 100vw;
  height: 500px;
  margin-bottom: 40px;
  background-image: url("../../public/assets/img/background-influencers.png");
  background-size: cover;
  background-position: 30%;

  @include mobile-tablet {
    margin-bottom: 0;
    height: 328px;
    background-image: url("../../public/assets/img/background-influencers-mobile.png");
    background-position: center;
  }
}

.breadcrumbs_mobile {
  display: none;

  @include mobile-tablet {
    display: block;
    margin-bottom: 30px;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  margin-bottom: 50px;

  @include mobile {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.search {
  position: relative;
  width: 386px;

  .icon {
    position: absolute;
    top: 40%;
    right: 15px;
  }
  & div {
    width: 100%;
  }
  & label {
    display: none;
  }

  @include mobile {
    width: 100%;
  }
}

.select {
  position: relative;
  width: 122px;

  & select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
    font-family: inherit;
    height: 60px;
    padding: 20px;
    width: 122px;
    border: 2px solid $color-black;
  }

  & .icon {
    font-size: 10px;
    position: absolute;
    top: 40%;
    right: 15px;
  }

  @include mobile {
    width: 100%;

    & > select {
      width: 100%;
    }
  }
}

.card_wrapper {
  flex-grow: 1;
}

.card {
  width: 100%;
  max-width: 276px;
  height: 300px;
  margin-bottom: 10px;

  @include tablet {
    max-width: 260px;
    height: 237px;
  }

  @include mobile {
    max-width: 260px;
    height: 175px;
  }
}

.card_caption {
  margin: 0;
  font-weight: $fw-bold;
}

.pagination {
  text-align: center;
  font-size: 20px;
  word-spacing: 20px;
  padding: 20px 0 50px 0;

  > span {
    color: $color-purple;
  }
}
