@import "/styles/style.scss";

.main {
  padding-top: $header-desktop-height;
  background-color: $color-grey-ed;
  overflow-x: hidden;

  @include mobile {
    padding-top: $header-mobile-height;
  }
}

.hero {
  position: relative;
  background-image: url("../../public/assets/img/background-landing-page.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: calc(-1 * $header-desktop-height);

  @include mobile {
    margin-top: calc(-1 * $header-mobile-height);
  }

  &::before {
    content: "";
    position: absolute;
    top: $header-desktop-height;
    right: 0;
    width: 35vw;
    height: 5px;
    background: $main-gradient-revert;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35vw;
    height: 5px;
    background: $main-gradient;
  }
}

.content {
  padding: 330px 0 100px;
  width: 80vw;
  margin: 0 auto;
  height: 1080px;

  @include tablet-laptop {
    width: 90vw;
  }

  @include mobile {
    padding: 260px 0 50px;
    height: 660px;
  }
}

.content_image {
  width: 80vw;

  @include mobile {
    max-height: 85px;
  }
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10vw;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  & > :first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20vw;
    @include tablet-laptop {
      width: 35vw;
    }
  }

  & > :last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20vw;
    @include tablet-laptop {
      width: 35vw;
    }
    @include mobile {
      display: none;
    }
  }
}

.info_title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 1;
  color: $color-white;
  @include mobile {
    margin-bottom: 13px;
    font-size: 9px;
  }
}

.info_number {
  font-size: 91px;
  line-height: 1;
  font-weight: $fw-bold;
  color: $color-grey-4b;
  @include mobile {
    font-size: 44px;
  }
}

.content_button {
  align-self: flex-end;
  white-space: nowrap;

  @include mobile {
    align-self: center;
  }
}

.descr_caption {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1.2;
  color: $color-purple;
  text-align: right;
  margin-bottom: 10px;
}

.descr_text {
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 1.5;
  color: $color-grey-82;
  text-align: right;
}

.container {
  position: relative;
  padding-top: 160px;
  padding-bottom: 70px;

  @include mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 238px;
    height: 235px;
    border-bottom-left-radius: 240px;
    background: $main-gradient-revert;

    @include tablet-laptop {
      width: 155px;
      height: 140px;
    }

    @include mobile {
      width: 95px;
      height: 85px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -260px;
    right: -260px;
    width: 520px;
    height: 520px;
    border-radius: 260px;
    border: 3px solid $color-purple;

    @include tablet-laptop {
      width: 350px;
      height: 350px;
      top: -180px;
      right: -160px;
    }

    @include mobile {
      width: 210px;
      height: 210px;
      top: -110px;
      right: -100px;
    }
  }
}

.text_content {
  padding: 0 135px;
  margin-bottom: 110px;

  & > .heading {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: $fw-medium;

    @include mobile {
      max-width: 240px;
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  & > .description {
    max-width: 1150px;
    font-size: 15px;
    text-align: left;
    color: $color-black;

    @include mobile {
      font-size: 13px;
    }
  }

  @include tablet-laptop {
    padding: 0 85px;
    margin-bottom: 70px;
  }

  @include mobile {
    padding: 0 15px;
    margin-bottom: 25px;
  }
}

.influencers_carousel {
  margin-bottom: 70px;

  & > :first-child {
    margin-bottom: 65px;

    @include mobile {
      margin-bottom: 35px;
    }
  }

  @include mobile {
    margin-bottom: 35px;
  }
}

.influencers_card {
  max-width: 380px;
  width: 100%;
  aspect-ratio: 4 / 5;

  @include mobile {
    max-width: 180px;
  }
}

.button_more {
  width: 250px;
  height: 55px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: $fw-regular;

  @include mobile {
    width: 190px;
    height: 45px;
    font-size: 13px;
  }
}

.brands_wrapper {
  position: relative;
  max-width: 1920px;
  width: 93%;
  min-height: 525px;
  margin-left: auto;
  margin-bottom: 125px;
  border-bottom-left-radius: 30px;
  background-color: $color-grey-f8;

  @include mobile {
    width: 100%;
    margin-bottom: 55px;
    background-image: none;
  }

  & .brands_bg {
    position: absolute;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../../public/assets/img/picture_1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-bottom-left-radius: 30px;

    @include tablet-laptop {
      width: 260px;
    }

    @include mobile {
      position: relative;
      left: 15px;
      margin-bottom: 25px;
      width: 100vw;
      height: 170px;
    }
  }

  & .brand_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 75px 130px 70px 440px;
    margin-left: auto;

    @include tablet-laptop {
      padding: 60px 70px 60px 300px;
    }

    @include mobile {
      padding: 35px 15px;
    }

    & > .heading {
      margin-bottom: 30px;
      font-size: 38px;
      font-weight: $fw-medium;
      text-align: right;

      @include mobile {
        max-width: 100%;
        margin-bottom: 22px;
        font-size: 22px;
      }
    }

    & > .description {
      margin-bottom: 25px;
      max-width: 980px;
      font-size: 15px;
      line-height: 1.47;
      text-align: right;
      color: $color-black;

      @include mobile {
        font-size: 13px;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 20%;
    left: -100px;
    width: 260px;
    height: 260px;
    border-radius: 260px;
    background: $color-purple-a40;

    @include mobile {
      width: 100px;
      height: 100px;
      top: 30%;
      left: -40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55vw;
    height: 5px;
    background: $main-gradient;
  }
}

.brand_card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  width: 100%;
  height: 90px;
  background-color: $color-white;
}

.heading_bubble {
  position: relative;
  max-width: 100% !important;

  @include mobile {
    width: fit-content;
  }

  & > span {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -30px;
    width: 47px;
    height: 47px;
    border-radius: 47px;
    background: $main-gradient;

    @include mobile {
      left: auto;
      top: -5px;
      right: -10px;
      width: 19px;
      height: 19px;
    }
  }
}

.video_wrapper {
  position: relative;
  max-width: 1920px;
  width: 93%;
  min-height: 500px;
  margin-right: auto;
  margin-bottom: 90px;
  padding-top: 140px;
  border-bottom-right-radius: 30px;
  background-color: $color-grey-f8;
  background-image: url("../../public/assets/img/video_thumb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mobile {
    width: 100%;
    min-height: 300px;
    padding-top: 50px;
    margin-bottom: 35px;
  }

  & > .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    border: 2px solid $color-white;
    border-radius: 120px;

    @include mobile {
      width: 60px;
      height: 60px;

      img {
        width: 24px !important;
        height: 24px !important;
      }
    }
  }

  & > .heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: $fw-regular;
    text-align: center;
    color: $color-white;

    @include mobile {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -70px;
      left: 0;
      width: 110px;
      height: 220px;
      border-top-right-radius: 130px;
      border-bottom-right-radius: 130px;
      border: 2px solid $color-purple;
      border-left: none;

      @include mobile {
        bottom: -50px;
        width: 50px;
        height: 100px;
      }
    }
  }

  & > .description {
    max-width: 740px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: $color-white;

    @include tablet-laptop {
      max-width: 600px;
    }

    @include mobile {
      max-width: 300px;
      font-size: 11px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 124px;
    height: 111px;
    border-bottom-left-radius: 130px;
    background: $main-gradient-revert;

    @include mobile {
      width: 54px;
      height: 48px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78vw;
    height: 5px;
    background: $main-gradient;
  }
}

.testimonials_wrapper {
  & > .heading {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: $fw-medium;
    text-align: center;

    @include mobile {
      margin-bottom: 10px;
      font-size: 22px;
    }
  }

  & > .description {
    max-width: 925px;
    margin: 0 auto 55px;
    font-size: 15px;
    text-align: center;
    color: $color-black;

    @include mobile {
      font-size: 13px;
    }
  }

  .testimonials_card {
    max-width: 380px;
    width: 100%;
    margin-bottom: 50px;

    @include mobile {
      width: 95%;
      margin-bottom: 20px;
    }

    .image_wrapper {
      position: relative;
      height: 280px;
      margin-bottom: 20px;

      & img {
        object-fit: cover;
      }

      & > p {
        position: absolute;
        bottom: 0;
        width: calc(100% - 15px);
        height: 45px;
        padding-left: 15px;
        font-size: 16px;
        line-height: 45px;
        font-weight: $fw-medium;
        background-color: $color-purple-a40;
        color: $color-white;

        @include mobile {
          bottom: 18px;
          width: 100%;
        }
      }
    }

    .card_caption {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: $fw-semibold;

      & > span {
        color: $color-purple;
      }

      @include mobile {
        font-size: 13px;
      }
    }

    .card_descr {
      font-size: 15px;
      font-weight: $fw-regular;

      @include mobile {
        font-size: 13px;
      }
    }
  }

  & .testim_desktop {
    @include mobile {
      display: none;
    }
  }

  & .testim_mobile {
    display: none;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > :last-child {
        margin-bottom: 20px;
      }
    }
  }
}
