@import "/styles/style.scss";

.hero {
  width: 100vw;
  min-height: 100vh;
  margin-top: calc(-1 * $header-desktop-height);
  padding-top: $header-desktop-height;

  background-image: url("../../public/assets/img/background-landing-page.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  padding: 330px 270px 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: 5px;
    background: $main-gradient-revert;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35vw;
    height: 5px;
    background: $main-gradient;
  }
}

.content_image {
  width: 80vw;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10vw;

  & > :first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20vw;
  }

  & > :last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20vw;
  }
}

.info_title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: $fw-regular;
  line-height: 1;
  color: $color-white;
}

.info_number {
  font-size: 91px;
  line-height: 1;
  font-weight: $fw-bold;
  color: $color-grey-4b;
}

.content_button {
  align-self: flex-end;
}

.descr_caption {
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1.2;
  color: $color-purple;
  text-align: right;
  margin-bottom: 10px;
}

.descr_text {
  font-size: 13px;
  font-weight: $fw-regular;
  line-height: 1.5;
  color: $color-grey-82;
  text-align: right;
}

.container {
  position: relative;
  padding-top: 160px;
  background-color: $color-grey-ed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 238px;
    height: 235px;
    border-bottom-left-radius: 240px;
    background: $main-gradient-revert;
  }

  &::after {
    content: "";
    position: absolute;
    top: -260px;
    right: -260px;
    width: 520px;
    height: 520px;
    border-radius: 260px;
    border: 3px solid $color-purple;
  }
}

.text_content {
  padding-left: 135px;
  margin-bottom: 110px;

  & > .heading {
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: $fw-medium;
  }

  & > .description {
    max-width: 1150px;
    font-size: 15px;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}

.influencers_carousel {
  margin-bottom: 70px;

  & > :first-child {
    margin-bottom: 65px;
  }
}

.influencers_card {
  width: 380px;
  height: 465px;
}

.button_more {
  width: 249px;
  height: 55px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: $fw-regular;
}
