@import "/styles/style.scss";

.container {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button_wrapper {
  margin-bottom: 70px;

  @include mobile {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  gap: 45px;

  @include mobile-laptop {
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    gap: 30px;
  }
}

.content_info {
  max-width: 940px;
  width: 100%;

  .heading {
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: $fw-medium;
    line-height: 1;
    color: $color-purple;

    @include mobile {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .labels {
    &:not(:last-child) {
      margin-bottom: 50px;

      @include mobile {
        margin-bottom: 25px;
      }
    }
  }

  .label_wrapper {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 30px;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    & > p {
      font-size: 20px;
      line-height: 1;
      font-weight: $fw-semibold;
      color: $color-black;

      &:nth-child(1) {
        min-width: 160px;
      }

      &:nth-child(2) {
        min-width: 30px;
        font-weight: $fw-regular;
      }

      &:nth-child(3) {
        font-weight: $fw-regular;
      }

      @include mobile {
        font-size: 12px;
        line-height: 14px;

        &:nth-child(1) {
          min-width: 90px;
        }

        &:nth-child(2) {
          min-width: 12px;
        }

        &:nth-child(3) {
          font-size: 12px;
        }
      }
    }
  }
}

.divider {
  width: 2px;
  margin-top: 88px;
  background-color: $color-grey-f5;

  @include mobile-laptop {
    margin: 0;
    height: 2px;
    transform: none;
  }
}

.card_wrapper {
  align-self: center;

  @include mobile {
    max-width: 450px;
    width: 100%;
  }
}

.card {
  width: 600px;
  height: 204px;
  margin-bottom: 20px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  display: flex;

  @include mobile {
    width: 100%;
    height: 150px;
    border-radius: 0 0 30px 0;
  }

  & .image {
    position: relative;
    flex-shrink: 0;
    width: 15%;
    margin: 20px;

    @include mobile {
      width: 60px;
      height: 100px;
    }
  }
}

.card_content {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: flex-start;
  padding: 30px 10px;

  .title_wrapper {
    display: flex;
    justify-content: space-between;

    & .title {
      font-size: 20px;
      font-weight: $fw-bold;
      color: $color-purple;

      @include mobile {
        font-size: 17px;
      }
    }

    & .button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      width: 100px;
      height: 28px;
      padding: 5px;
      border-radius: 14px;
      font-size: 12px;
      font-weight: $fw-semibold;
      background: $color-grey-f5;
      cursor: pointer;

      @include mobile {
        width: 80px;
        font-size: 8px;
      }
    }

    & .icon {
      width: 22px;
      height: 22px;
      padding: 0;
      font-size: 9px;
      color: $color-black;
    }
  }
}

.card_description {
  margin-bottom: 15px;

  @include mobile {
    font-size: 12px;
  }
}

.price_wrapper {
  display: flex;
  gap: 15px;

  @include mobile {
    gap: 5px;
  }

  & .group {
    display: flex;
    flex-direction: column;
  }

  & .row {
    display: flex;
    align-items: center;

    @include mobile {
      & > div > div > span {
        font-size: 12px;
      }
    }

    & > p {
      font-size: 16px;
      font-weight: $fw-regular;
      color: $color-black;

      &.total {
        color: $color-purple;
        font-weight: $fw-bold;
      }

      @include mobile {
        font-size: 12px;
      }

      &:nth-child(1) {
        font-weight: $fw-semibold;
        min-width: 90px;

        @include mobile {
          min-width: 50px;
        }
      }

      &:nth-child(2) {
        font-weight: $fw-semibold;
        min-width: 30px;

        @include mobile {
          min-width: 10px;
        }
      }

      &:nth-child(3) {
      }
    }
  }
}

.approve {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  background-color: $color-white;

  @include mobile {
    width: 100%;
    height: 150px;
    padding-top: 45px;
  }

  & .approve_text {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: $fw-medium;

    @include mobile {
      font-size: 11px;
    }
  }

  & .button_wrapper {
    display: flex;
    gap: 20px;

    @include mobile {
      gap: 15px;
    }

    & .button_purple {
      min-width: 92px;
      background: $color-purple;
      @include mobile {
        min-width: 82px;
      }
    }

    & .button_black {
      min-width: 92px;
      background: $color-black;
      @include mobile {
        min-width: 82px;
      }
    }
  }
}
