@import "styles/style.scss";
.content {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.main {
  position: relative;
  width: 100%;
  padding-left: 75px;

  @include mobile {
    padding: 0 15px;
  }
}

.order {
  margin: 53px 0px 0 0px;
}

section.order_delivery {
  & > h3 {
    font-weight: 600;
    line-height: 21px;
    font-size: 18px;
  }

  & > button {
    background: $color-grey-f5 !important;
    margin-top: 23px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: none;
    margin-bottom: 39px;
  }

  & form {
    margin-top: 30px;
    & > div:nth-child(1) {
      display: none;
    }

    & > div:nth-child(6) {
      display: none;
    }

    & > button {
      @include mobile {
        margin-top: 60px;
      }
    }
  }
}

.address_cards_wrapper {
  margin-top: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include mobile-tablet {
    flex-wrap: wrap;
    flex-direction: column;
  }

  & > div {
    width: 100%;
    max-width: 48%;

    &:nth-child(1) {
      margin-right: 20px;
    }

    @include mobile-tablet {
      max-width: none;
    }
  }
}

.address_card {
  max-width: 659px;
  width: 100%;
  height: 190px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  background-color: $color-white;
  border-radius: 5px;
  margin-top: 20px;

  @include tablet-laptop {
    max-width: none;
    width: auto;
  }

  @include mobile-laptop {
    max-width: none;
    width: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  & > div:nth-child(1) {
    height: 100%;

    & > div:nth-child(1) {
      margin-bottom: 0.5em;
    }
  }

  & p {
    line-height: 1.35em;
  }
}

.address_card_checkbox {
  position: absolute;
  top: -55px;
  right: -1.3%;

  & > div:nth-child(1) > label > span:nth-child(2) {
    margin-top: 4px;
    margin-left: -4px;
  }

  @include mobile {
    left: 0;
  }
}

.order_summary {
  margin-top: 27px;
  margin-left: 41px;
  min-width: 20%;

  @include mobile-tablet {
    min-width: 240px;
    margin-left: 15px;
  }

  @include mobile {
    margin: 0 auto;
  }
}

.order_payment {
  margin: 60px 0;
  position: relative;

  & > button {
    background: $color-grey-f5 !important;
    margin-top: 23px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: none;
    margin-bottom: 39px;
    width: 100%;

    @include mobile-tablet {
      margin-top: 50px;
      height: 20px;
    }
  }

  @include mobile {
    margin-top: 10px;
  }
}

.payment_cards_wrapper {
  & > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5;
    margin-top: 30px;
    padding: 20px 20px;

    & > div {
      margin: 20px 20px;

      @include mobile-laptop {
        transform: scale(0.9);
        height: 170px !important;
        margin: 0;
      }
    }
  }
}

.payment_card_checkbox {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;

  @include mobile-tablet {
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    top: 30px;
  }
}

.form_wrapper {
  position: relative;

  .address_card_checkbox {
    top: -10px;
  }

  .save_btn {
    position: absolute;
    bottom: -1px;
    right: 300px;
    width: 250px;
    color: $color-purple;
    border-color: $color-purple;
    background-color: $color-white;

    @include tablet {
      left: 0;
    }

    @include mobile {
      bottom: 60px;
      left: 0;
      width: 100%;
    }

    &:hover {
      border-color: $color-purple;
      background-color: $color-purple-a20;
    }
  }
}
