@import "/styles/style.scss";

.main {
  @include mobile {
    padding-top: $header-mobile-height;
  }

  .breadcrumbs_mobile {
    @include mobile-tablet {
      display: block;
      margin-bottom: 30px;
    }
  }

  .button__back {
    width: 102px;
    height: 46px;
    margin: 50px 108px 70px 140px;
    object-fit: contain;
    & .button_back {
      background: #ffffff none;
      color: $color-purple;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    }
  }

  .content {
    margin-top: 70px;
    position: relative;
    display: flex;

    & .Customer_Information,
    .Order_information,
    .Invoice_information {
      width: 445px;
      height: 43px;
      margin: 70px 539px 56px 140px;
      object-fit: contain;
      font-size: 38px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: left;
      color: #8100ef;
    }
    .Customer_Information_detail,
    .Order_Information_detail,
    .Invoice_Information_detail {
      width: 842px;
      margin-top: 56px;
      display: flex;
      & > div > p {
        width: 169px;
        height: 22px;
        margin: 0 -115px 30px 140px;
        object-fit: contain;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 23px;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
      .information_detail_text,
      .Order_detail_text,
      .Invoice_detail_text {
        width: 150px;
      }
      .information_detail_span span,
      .Order_detail_span span,
      .Invoice_detail_span span {
        display: block;
        margin: 0 0 28px 10px;
      }
    }
    & .line {
      width: 2px;
      height: 770px;
      margin: 59px 46px 161px;
      object-fit: contain;
      background-color: #f5f5f5;

      position: absolute;
      top: 25px;
      left: 712px;
    }

    .Card {
      width: 610px;
      height: 204px;
      margin-top: 190px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0, 0, 1, 1);

      .cardItem {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 37px 15px 0 35px;
        & .cardItem_text {
          color: $color-purple;
          font-size: 20px;
        }
      }
      & .img {
        width: 90px;
        height: 159px;
        max-width: none;
        max-height: none;
        margin: 18px 0 0 20px;
        padding: 20px;
      }
      & .img {
        position: relative;
      }
      & .cardItem_text_detail,
      .cardItem_text_details {
        display: flex;
        margin: 18px 0 0 0;
        & p {
          width: 70px;
          height: 22px;
          font-size: 15px;
          font-weight: 600;
        }
        & .purple {
          color: $color-purple;
        }
        & .spans {
          width: 70px;
          & span {
            margin: 0 0 0 -42px;
          }
        }
      }
      .cardItem_text_details {
        margin: 0;
      }
      .button_cancel {
        width: 100px;

        & button {
          background: #f5f5f5 none;
          color: black;
          padding: 4px 16px 4px 16px;
          border: none;
          cursor: pointer;
          border-radius: 14px;
        }
        & span {
          border: solid 0.4px #888;
          background-color: #fff;
          border-radius: 50%;
          padding: 2px;
          cursor: pointer;
          font-size: 12px;
          color: black;
        }
      }
    }
    .approve {
      width: 608px;
      height: 204px;
      margin: 190px 0 0 0;
      padding: 63px 0 0 0;
      object-fit: contain;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0, 0, 1, 1);

      & .button_purple {
        background: $color-purple none;
      }
      & .button_black {
        background: $color-black none;
      }
      & .button {
        display: flex;
        margin: 20px auto 0;
        width: 200px;
        justify-content: space-between;
      }
      & p {
        text-align: center;
      }
    }
  }
}
