@import "styles/style.scss";

.cart {
  display: flex;
  margin: 0 auto 50px;
  padding-top: 30px;

  @include mobile-laptop {
    flex-direction: column;
    align-items: center;
  }
}

.cartItemsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $color-white;
  background-color: $color-black;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 100%;

    background-image: linear-gradient(
      257deg,
      $color-purple 92%,
      $color-cyan 5%
    );
  }

  @include mobile-tablet {
    display: none;
  }
}

.cartItemlist {
  width: 100%;
  padding-right: 20px;

  > p {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    font-weight: $fw-semibold;
  }

  @include mobile {
    padding-right: 0;
  }
}

.names {
  flex: 3;
  text-align: left;
}

.price {
  flex: 1;
  margin-right: 60px;
}

.piece {
  flex: 1;
  margin-right: 60px;
}

.total {
  flex: 1;
}
