@import "/styles/style.scss";

.main {
  width: 100%;

  .breadcrumbs_mobile {
    @include mobile-tablet {
      display: block;
      margin-bottom: 30px;
    }
  }

  .button__back {
    width: 102px;
    height: 46px;
    margin: $indent-content 108px 70px 140px;
    object-fit: contain;
    & .button_back {
      background: #ffffff none;
      color: $color-purple;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    }
  }

  & .container {
    width: 85%;
    margin: auto;

    & .product_name,
    .product_info,
    .product_Exclamation > div,
    .Product_Features_info_select > div {
      & p {
        color: $color-purple;
      }
    }

    & .product_info {
      display: flex;
      justify-content: space-between;
      margin-top: $indent-content;
    }

    & .product_Exclamation {
      margin-top: $indent-content;
      > div {
        display: flex;
        > p {
          margin-right: 15px;
        }
      }
    }
    & .product_card {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
      padding: 25px 23px 105px 25px;
      & p {
        color: black !important;
      }
    }
    & .Product_Features {
      margin-top: $indent-content;
      & span {
        font-size: 2em;
        font-weight: bold;
      }
    }
    & .Product_Features_info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & .Product_Features_info_select {
        & > div {
          margin: 0 10px 0 10px;
        }
        display: flex;
        justify-content: space-between;
        width: 100%;
        & .select {
          width: 510px;
        }
      }
    }
  }
}
