@import "styles/style.scss";

.container {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;

  >h3 {
    margin-bottom: 30px;
  }

  >p {
    margin-bottom: 40px;
  }
}

.productsReturn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: $color-white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

  span {
    font-weight: 600;
  }

  margin-bottom: 50px;
}

.productsReturnBtn {
  border-radius: 100%;
  background: $color-white;
  // padding: 9px;
  color: $color-purple;
  margin-right: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  width: 70px;
}

.productsSection {
  display: flex;
  margin-bottom: 70px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.productInfo {
  width: 100%;
  padding-left: 40px;
  position: relative;

  @include tablet {
    padding-left: 0;
  }

  @include mobile {
    padding-left: 0;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 400px;

    @include mobile {
      width: 100%;
    }
  }

  h3 {
    font-size: 30px;
  }
}

.title {
  font-size: 35px;
  color: $color-purple;
}

.subtitle,
.description {
  font-size: 25px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.description {
  color: $color-grey-c;
  padding-bottom: 40px;
}

.button {
  width: 510px;
  padding: 20px 110px;
  margin-top: 50px;

  @include mobile {
    width: 100%;
  }
}

.colorPicker {
  margin-bottom: 50px;
  width: 100%;

  div {
    div {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}

.price {
  margin-bottom: 50px;

  @include tablet {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.photoslider {
  @include laptop {
    width: 700px;
  }

  @include tablet {
    width: 100% !important;
  }

  @include mobile {
    width: 100% !important;
  }
}