@import "/styles/style.scss";

.desktop_image {
  margin-bottom: 70px;

  @include mobile-tablet {
    display: none;
  }

  & > div:nth-child(1) {
    height: 500px;

    & > div:nth-child(2) > span {
      height: 500px !important;
      color: $color-purple;

      & img {
        object-fit: cover;
      }
    }
  }
}

.mobile_image {
  display: none;

  & .background {
    display: flex;

    & > div:nth-child(3) {
      visibility: hidden;
    }

    & > div:nth-child(4) {
      & > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
        font-size: 16px;
      }

      & > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        font-size: 16px;
      }

      & > div:nth-child(2) {
        font-size: 12px;
      }
    }

    & > div:nth-child(2) {
      & > span {
        width: 100vw !important;
      }
    }

    & img {
      width: 100vw;
      object-fit: cover;
    }
  }

  @include mobile-tablet {
    display: block;
    z-index: -1;
    margin: -50px 0 20px 0;
    width: 100vw;
  }
}

.background__desktop {
  width: 100vw;
}

.background {
  width: 100vw;
  height: 500px;
  background-image: url("../../public/assets/img/background-influencers.png");
  background-size: cover;
  background-position: 30%;

  @include mobile-tablet {
    height: 328px;
    background-image: url("../../public/assets/img/background-influencers-mobile.png");
    background-position: center;
  }
}

.breadcrumbs_mobile {
  display: none;

  @include mobile-tablet {
    display: block;
    margin-top: -20px;
    margin-bottom: 22px;
  }
}

.container {
  @include container;
  max-width: 1720px;
  background-color: white;

  &__content {
    display: flex;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  margin-bottom: 60px;

  @include mobile {
    flex-direction: column;
    margin-bottom: 22px;
    div {
      height: 36px;
    }
  }
}

.sidebar {
  width: 210px;
  margin-right: 91px;

  @include mobile-tablet {
    display: none;
  }

  & span {
    font-size: 20px;
  }

  & > div:nth-last-child(2) {
    width: 210px;
    margin-bottom: 64px;
  }

  &__accordion {
    div:nth-child(2) {
      div {
        padding: 0 !important;
      }
    }

    &__summary {
      padding: 16px 0;
    }

    &__icon {
      font-size: 10px !important;
    }
  }

  &__color_picker {
    div {
      min-width: 100%;
      flex-direction: row !important;
      flex-wrap: wrap;

      span {
        span {
          height: 27px !important;
          width: 27px !important;
        }
      }
    }

    div {
      padding: 0 !important;
    }
  }

  &__price_slider_wrapper {
    padding: 0 0 0 10px !important;

    span[data-index="0"]:nth-child(4) {
      left: 12px !important;
    }

    span[data-index="1"]:nth-child(6) {
      left: auto !important;
      right: -66px;
    }
  }

  &__price_slider {
    span {
      font-size: 20px;
      color: $color-purple;
      font-weight: 600;
    }
  }

  &__btn {
    width: 100%;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;

  & > div {
    width: 276px;
  }

  @include mobile {
    padding: 0;

    & > div {
      width: 162px;
      margin-bottom: -18px;
    }

    gap: 19px;
  }
}

.pagination {
  text-align: center;
  font-size: 20px;
  word-spacing: 20px;
  padding: 20px 0 50px 0;

  > span {
    color: $color-purple;
  }

  @include mobile {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 14.4px;
    padding: 26px 0 34px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
