@import "styles/style.scss";

.breadcrumbs_mobile {
  margin-bottom: 20px;

  @include laptop-desktop {
    display: none;
  }
}

.container {
  @include container;
  max-width: 1860px;
  padding-top: 50px;
  padding-bottom: 75px;

  @include mobile {
    padding-bottom: 30px;
  }

  > h3:not(:last-child) {
    margin-bottom: 30px;
  }

  > p:not(:last-child) {
    margin-bottom: 40px;
  }
}

.productsReturn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: $color-white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

  span {
    font-weight: $fw-semibold;
  }

  margin-bottom: 50px;
}

.productsReturnBtn {
  border-radius: 100%;
  background: $color-white;
  color: $color-purple;
  margin-right: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  width: 70px;
}

.productsSection {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.photoslider {
  width: 45%;

  @include mobile-tablet {
    width: 100% !important;
    max-width: 700px;
  }
}

.productInfo {
  width: 55%;
  position: relative;

  @include mobile-tablet {
    width: fit-content;
  }
}

.title {
  margin-bottom: 15px;

  font-size: 35px;
  font-weight: $fw-bold;
  line-height: 41px;
  color: $color-purple;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: $fw-medium;
  line-height: 30px;
}

.description {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 37px;
  color: $color-grey-8;

  @include mobile-tablet {
    width: 100%;
    max-width: 430px;
  }
}

.filter_label {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: $fw-medium;
  width: 100%;
  max-width: 430px;
}

.size_picker {
  margin-bottom: 50px;
}

.button {
  max-width: 510px;
  width: 100%;
  padding: 20px;
}

.colorPicker {
  margin-bottom: 50px;
  width: 100%;
  max-width: 430px;

  div {
    div {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}

.price {
  margin-bottom: 50px;

  // @include tablet {
  //   position: absolute;
  //   top: 0;
  //   right: 10px;
  // }
}
