@import "styles/style.scss";

.main {
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main_button_back {
    width: 100%;
    margin-bottom: 50px;
    max-width: 1640px;
    .button_back {
      border-radius: 5px;
      box-shadow: 0 0 20px 0 $color-black-a07;
      background: $color-white;
      color: $color-purple;
      font-size: 15px;
      font-weight: $fw-bold;
      line-height: 1.2;
      object-fit: contain;

      &:hover {
        background-color: $color-purple-a20;
      }
    }
    @include mobile {
      display: none;
    }
  }

  @include mobile {
    padding: 0 16px;
  }
  .main_content {
    display: flex;
    max-width: 1640px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .main_menu {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 40px;

      @include mobile {
        margin-top: 0px;
      }

      .menu_input {
        width: 40%;

        @include mobile-tablet{
          width: 100%;
        }

        .search {
          position: relative;
          width: 100%;
          height: 55px;

          @include mobile {
            height: 33px;
            width: 164px;
          }

          input {
            font-size: 15px;
            font-weight: $fw-medium;
            line-height: 1.2;
            padding-left: 45px;

            @include mobile {
              padding: 6px 0 6px 10px;
            }

            &::placeholder {
              opacity: 1;
              font-weight: $fw-medium;
            }
          }

          @include mobile-tablet {
            width: 100%;
          }

          @include mobile {
            width: 100%;
          }
        }
        .searchIcon {
          position: absolute;
          top: calc(50% - 0.5em);
          left: 15px;

          @include mobile-tablet {
            display: none;
          }
        }
      }

      .button_container {
        display: flex;

        @include mobile-tablet{
          width: 100%;
          justify-content: end;
        }


        @include mobile{
          width: 100%;
          justify-content: end;
        }
        .main_buttons {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap-reverse;

          @media (max-width: 1143px) {
            width: 100%;
            position: absolute;
            top: 65px;
            left: 0;
          }

          @include mobile {
            top: 45px;
          }

          .button_smalltext {
            text-decoration: underline;
            font-size: 15px;
            font-weight: $fw-medium;
            line-height: 1.2;

            @include mobile-tablet {
              font-size: 13px;
              font-weight: $fw-medium;
              line-height: 1.22;
            }

            @include mobile {
              font-size: 9px;
            }
          }
        }
      }

      .button_excel {
        background: $color-green;
        margin-left: 45px;
        &:hover {
          background-color: $color-green-d;
        }

        @include mobile {
          font-size: 12px;
          font-weight: $fw-bold;
          line-height: 1.17;
          display: flex;
          justify-content: center;
          height: 33px;
          width: 164px;
          margin-left: 0;
        }
      }
    }
    .content {
      margin-top: 50px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 35px;

      @include mobile-tablet {
        flex-direction: column;
        justify-content: center;
      }

      .content_item {
        padding: 0 35px 35px 35px;
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        max-width: 1226px;
        height: 100%;
        box-shadow: 0 0 10px rgb(218, 218, 218);

        & :last-child {
          margin-right: auto;
        }

        @include mobile-tablet{
          justify-content: center;
        }
      }
      .content_item_rejected {
        padding: 0 35px 35px 35px;
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgb(218, 218, 218);

        @include mobile-tablet{
          justify-content: center;
        }

       
      }
      .content_select_input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 27px;
        width: 100%;
        height: 473px;
        box-shadow: 0 0 10px rgb(218, 218, 218);
        text-align: start;
        .select_input {
          width: 325px;
          height: 147px;
        }

        .button_black {
          background: $color-black;
          width: 100%;
          height: 62px;

          &:hover {
            background-color: $color-grey-3;
          }
        }
        h1 {
          text-align: center;
          font-size: 21px;
          font-weight: $fw-medium;
          line-height: 1.33;
        }
        .first {
          margin-top: 20px;
        }
        p {
          font-size: 15px;
          font-weight: $fw-regular;
          line-height: 1.64;
        }
        span {
          color: $color-purple;
          cursor: pointer;
        }
      }
    }
     
    .main_buttons{
      display: flex;

      @include mobile {
        width: 100%;
        position: absolute;
        top: 45px;
        left: 0;
      }
    }
  }
}
