@import "styles/style.scss";

.container {
  padding: 50px 0;
}

.button_wrapper {
  align-self: flex-start;
  margin-bottom: 70px;

  @include mobile {
    display: none;
  }
}

.page_content {
  display: flex;
  max-width: 1640px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 50px;

  @include mobile-tablet {
    flex-wrap: wrap;
  }

  @include mobile {
    padding-top: 0px;
    margin-bottom: 25px;
  }

  .search {
    position: relative;
    width: 40%;
    height: 55px;
    margin-right: auto;

    @include mobile {
      height: 33px;
      min-width: 164px;
      margin-right: 0;
    }

    .searchIcon {
      position: absolute;
      top: calc(50% - 0.5em);
      left: 15px;

      @include mobile-tablet {
        display: none;
      }
    }

    input {
      font-size: 15px;
      font-weight: $fw-medium;
      line-height: 1.2;
      padding-left: 45px;

      @include mobile {
        padding: 6px 0 6px 10px;
        font-size: 12px;
      }

      &::placeholder {
        opacity: 1;
        font-weight: $fw-medium;
      }
    }
  }

  .button_container {
    display: flex;

    @include mobile-tablet {
      width: 100%;
      justify-content: center;
      order: 1;
    }

    .buttons {
      display: flex;

      .button {
        text-decoration: underline;
        font-size: 15px;
        font-weight: $fw-medium;
        line-height: 1.2;

        @include mobile-tablet {
          font-size: 13px;
          font-weight: $fw-medium;
          line-height: 1.22;
        }

        @include mobile {
          font-size: 9px;
        }
      }
    }
  }

  .button_excel {
    background: $color-green;
    &:hover {
      background-color: $color-green-d;
    }

    @include mobile {
      font-size: 12px;
      height: 33px;
      width: 164px;
    }
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 35px;

  @include mobile-tablet {
    flex-direction: column;
    justify-content: center;
  }
}

.gallery {
  padding: 0 35px 35px 35px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 1226px;
  height: 100%;
  box-shadow: 0 0 10px rgb(218, 218, 218);

  & :last-child {
    margin-right: auto;
  }

  @include mobile-tablet {
    justify-content: center;
  }
}

.file_upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  width: 100%;
  height: 473px;
  box-shadow: 0 0 10px rgb(218, 218, 218);
  text-align: start;
  .select_input {
    width: 325px;
    height: 147px;
  }

  .button_black {
    background: $color-black;
    width: 100%;
    height: 62px;

    &:hover {
      background-color: $color-grey-3;
    }
  }
  h1 {
    text-align: center;
    font-size: 21px;
    font-weight: $fw-medium;
    line-height: 1.33;
  }

  p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: $fw-regular;
    line-height: 1.64;

    & span {
      color: $color-purple;
      font-weight: $fw-bold;
      cursor: pointer;
    }
  }
}

.toolbar_rejected {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  @include mobile-tablet {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.buttons_rejected {
  display: flex;
}

.content_rejected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 35px;

  @include mobile-tablet {
    flex-direction: column;
    align-items: center;
  }
}
