@import "styles/style.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  font-weight: $fw-semibold;
  font-size: 18px;
  line-height: 1.5;
  text-transform: none;
  border-radius: 4px;

  @include mobile {
    font-size: 12px;
  }
}

.icon_button {
  min-width: 20px;
  aspect-ratio: 1 / 1;
  padding: 3px;
}

.rounded_button {
  border-radius: 50%;
}

.contained_button {
  color: $color-white;
  background-color: $color-purple;
  background: $main-gradient;

  &:disabled {
    background: $color-grey-c;
  }
}

.outlined_button {
  border: solid 2px $color-black;
  color: $color-black;
  background-color: transparent;

  &:hover {
    border: solid 2px $color-black;
    background-color: $color-black-a20;
  }

  &:disabled {
    border: solid 2px $color-grey-9;
    background-color: $color-black-a20;
  }
}

.text_button {
  color: $color-black;
  background-color: transparent;

  &:hover {
    background-color: $color-black-a20;
  }

  &:disabled {
    background-color: $color-black-a20;
  }
}
