@import "styles/style.scss";

.main {
  display: flex;
  align-items: center;
  min-width: 530px;
  max-width: 540px;
  width: 100%;
  height: 159px;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 #e8e8e8;
  border: 3px solid $color-white;
  cursor: pointer;

  color: $color-black;
  background-color: $color-white;

  .icon_wrapper {
    background-color: $color-light-pink;
  }

  .description_row .icon {
    color: $color-black !important;
  }

  &:hover {
    background: linear-gradient(90deg, $color-purple-light, $color-purple-f1);
    color: $color-white;

    .icon_wrapper {
      background-color: $color-white;
    }
    .description_row .icon {
      color: $color-white !important;
    }
  }

  @include mobile-tablet {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    padding: 25px;
  }
}

.wrapper {
  height: 95px;
  display: flex;
  width: 100%;

  .icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;

    &.desktop {
      width: 95px;
      height: 95px;
      margin-right: 15px;
      border-radius: 9px;

      .icon {
        font-size: 57px;
        color: $color-purple-light;
      }

      @include mobile-tablet {
        display: none;
      }
    }

    &.mobile {
      width: 39px;
      height: 39px;
      border-radius: 5px;

      .icon {
        font-size: 25px;
        color: $color-purple-light;
      }

      @include laptop-desktop {
        display: none;
      }
    }
  }

  .info_wrapper {
    width: auto;
    display: grid;

    .title_row {
      display: flex;
      align-items: center;
      gap: 10px;

      h3 {
        font-size: 30px;
        font-weight: $fw-bold;
        @include mobile-tablet {
          font-size: 16px;
        }
      }
    }

    .description_row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .icon {
        color: $color-white;
      }

      p {
        font-size: 18px;
        font-weight: $fw-regular;
        white-space: nowrap;

        @include mobile-tablet {
          font-size: 13px;
        }
      }
    }
  }
}
