@import "styles/style.scss";

.main {
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  border: 3px solid $color-white;
  display: flex;
  cursor: pointer;
  width: 536px;
  height: 159px;
  align-items: center;
}

.wrapper {
  height: 95px;
  margin-left: 32px;
  display: flex;

  .icon_wrapper {
    width: 95px;
    height: 95px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 57.11px;
      color: $color-purple-light;
    }
  }

  .info_wrapper {
    width: auto;
    display: grid;
    padding-left: 15px;

    h3 {
      font-size: 30px;
      font-weight: $fw-bold;
    }

    .description {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        padding-right: 60px;
        font-size: 18px;
      }
    }
  }
}

.purple {
  background: linear-gradient(90deg, $color-purple-light, $color-purple-f1);
  color: $color-white;

  .icon_wrapper {
    background-color: $color-white;
  }
}

.white {
  color: $color-black;
  background-color: $color-white;

  .icon_wrapper {
    background-color: $color-light-pink;
  }
}
