@import "styles/style.scss";

.main {
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  border: 3px solid $color-white;
  display: flex;
  cursor: pointer;
  width: 536px;
  height: 159px;
  align-items: center;

  .insideBig {
    height: 95px;
    margin-left: 32px;
    display: flex;

    .squareBig {
      width: 95px;
      height: 95px;
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;

      .squareIconBig {
        font-size: 57.11px;
        color: $color-purple-light;
      }
    }

    .rectangleBig {
      width: auto;
      display: grid;
      padding-left: 15px;

      h3 {
        font-size: 30px;
        font-weight: bold;
      }

      .smallText {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        p {
          padding-right: 60px;
          font-size: 18px;
        }
      }
    }
  }
}

.purple {
  background: linear-gradient(90deg, $color-purple-light, $color-purple-f1);
  color: $color-white;

  .squareBig {
    background-color: $color-white;
  }

  .textBox p {
    color: $color-white !important;
  }
}

.white {
  color: $color-black;
  background-color: $color-white;

  .squareBig {
    background-color: $color-light-pink;
  }
}
