@import "styles/style.scss";

.main {
  padding-top: $header-desktop-height;
  min-height: 100vh;

  @include mobile {
    padding-top: $header-mobile-height;
    min-height: fit-content;
  }
}

.container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 70px 40px;

  @include tablet-laptop {
    padding: 35px 20px;
  }

  @include mobile {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }
}

.aside {
  margin-right: 45px;
  @include tablet-laptop {
    margin-right: 15px;
  }
  @include mobile {
    margin-right: 0;
  }
}

.content {
  width: 100%;
  @include mobile {
    padding: 15px;
  }
}
