@import "styles/style.scss";

.size_picker {
  flex-direction: row;
  gap: 25px;

  @include mobile {
    gap: 16px;
  }

  & > label {
    position: relative;
    margin: 0;

    & > span:first-child {
      padding: 0 !important;
    }

    & > span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.radio {
  &:hover {
    background-color: transparent;
  }
}

.radio_icon {
  width: 50px;
  height: 50px;
  border: none;
  background-color: $color-grey-f4;
  transition: background-color 0.2s ease;

  @include mobile {
    width: 44px;
    height: 44px;
  }
}

input:hover + .radio_icon {
  background-color: $color-grey-c;
}

.radio_icon_checked {
  border: 2px solid $color-black;
  width: 50px;
  height: 50px;
  background-color: $color-grey-f4;
  transition: background-color 0.2s ease;
}

input:hover + .radio_icon_checked {
  background-color: $color-grey-c;
}
