@import "styles/style.scss";

.select_wrapper {
  height: 100%;
}

.select_label {
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: $fw-bold;
  color: $color-purple;
}

.select {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: inherit;
  font-weight: $fw-medium;

  & > div {
  padding: 14px;
    border: 1px solid transparent;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  }

  & > fieldset {
    border-color: transparent !important;
  }

  &:focus-within {
    border: 1px solid transparent;

    & > fieldset {
      border-color: transparent !important;
    }
  }
}

.item {
  font-size: 12px;
  font-weight: $fw-medium;
}

.select_icon {
  color: $color-purple;
  position: absolute;
  right: 6%;
}

.error {
  font-size: 12px;
  color: $color-red;
}

.scrollbar {
  & > :global(.simplebar-vertical) {
    right: 15px;
    width: 8px;
    background-color: $color-grey-f4;
    border-radius: 5px;

    & > div::before {
      left: 0;
      right: 0;
      width: 7px;
      opacity: 1;
      background: $color-purple;
    }
  }
}
