@import "styles/style.scss";

.select_label {
  min-width: 100px;
}

.select {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  font-weight: $fw-medium;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

  & > div {
    border: 1px solid transparent;
  }

  & > fieldset {
    border-color: transparent !important;
  }

  &:focus-within {
    border: 1px solid transparent;

    & > fieldset {
      border-color: transparent !important;
    }
  }
}

.focused {
  outline: 1px solid red;
}

.item {
  font-size: 12px;
  font-weight: $fw-medium;
}

.selectIcon {
  color: $color-purple;
  position: absolute;
  right: 6%;
}

.scrollbar {
  & > div:last-child {
    right: 15px;
    width: 8px;
    background-color: $color-grey-f4;
    border-radius: 5px;

    & > div::before {
      left: 0;
      right: 0;
      width: 7px;
      opacity: 1;
      background: $color-purple;
    }
  } 
}
