@import "/styles/style.scss";

.container {
  @include container;
  max-width: 1720px;
}

.mobile_image {
  display: none;

  & .background {
    display: flex;

    & > div:nth-child(3) {
      visibility: hidden;
    }

    & > div:nth-child(4) {
      & > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
        font-size: 16px;
      }

      & > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        font-size: 16px;
      }
      & > div:nth-child(2) {
        font-size: 12px;
      }
    }

    & > div:nth-child(2) {
      & > span {
        width: 100vw !important;
      }
    }
    & img {
      width: 100vw;
      object-fit: cover;
    }
  }

  @include mobile {
    display: block;
    z-index: -1;
    width: 100vw;
  }
}

.desktop_image {
  @include mobile {
    display: none;
  }

  & > div:nth-child(1) {
    height: 500px;
    margin-bottom: 30px;

    & > div:nth-child(2) > span {
      height: 500px !important;
      color: $color-purple;

      & img {
        object-fit: cover;
      }
    }

    & > div:nth-child(3) {
      visibility: hidden;
    }
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 5px;
    -o-object-fit: contain;
    object-fit: contain;
    background-image: linear-gradient(
      90deg,
      $color-cyan 0%,
      $color-purple 100%
    );
  }
}

.card_rotate {
  &::before {
    transition: all 0.3s ease-in;
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(110deg);
  }
}

.breadcrumbs_mobile {
  display: none;

  @include mobile-tablet {
    display: block;
    margin-bottom: 30px;
  }
}

.return_button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 160px;
  min-height: 100px;
  font-size: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  font-weight: $fw-bold;
  margin-bottom: 35px;
  padding-top: 10px;
  cursor: pointer;


  @include tablet {
    height: 120px;
  }

  @include mobile-tablet {
    min-height: 52px;
    padding-top: 5px;
    font-size: 13px;
    height: 52px;
    margin-bottom: 25px;
  }

  & div:first-child {
    cursor: pointer;
  }

  & div {
    margin: 0 20px;

    @include mobile-tablet {
      line-height: 22px;
    }

    &:nth-child(2) {
      margin-bottom: 5px;
    }
  }

  & span {
    position: relative;
    display: inline-block;
    width: 74px;
    height: 74px;
    background-color: $color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    @include mobile-tablet {
      width: 25px;
      height: 25px;
    }

    &::before {
      position: absolute;
      left: 20px;
      top: 15px;
      content: "\e91d";
      font-family: "icons" !important;
      font-weight: $fw-bold;
      font-size: 30px;
      color: $color-purple;

      @include mobile-tablet {
        font-size: 14px;
        left: 5px;
        top: 2px;
      }
    }
  }
}

.wrapper_toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  @include mobile {
    flex-wrap: wrap;
    font-size: 13px;
    width: 100%;
    justify-content: space-between;
    padding-top: 60px;
  }

  & > button {
    height: 55px;
    border-radius: 0;
    margin-right: 25px;
    width: max-content;
    font-weight: $fw-regular;
    min-width: 209px;
    padding: 0px;
    line-height: 1.17;

    @include mobile {
      min-width: 100px;
      width: 33%;
      margin-right: 0px;
      height: 36px;
      font-size: 13px;
      padding: 5px 10px;
      margin-bottom: 20px;
    }

    color: $color-black;
  }

  .button_active {
    background-color: $color-purple;
    color: $color-white;
  }

  & > div:nth-child(3) {
    margin-right: 0;
  }

  & > div:nth-child(3) {
    & > div:nth-child(1) {
      @include mobile {
        position: absolute;
        top: 0;
        left: 0;
        height: 36px;
        font-size: 13px;
        width: 100vw;
      }
    }

    & > div:nth-child(2) {
      @include mobile {
        width: max-content;

        & > div {
          height: 36px;
        }
      }
    }

    @include mobile {
      width: auto;
    }
  }
}

.toolbar {
  margin-left: auto;
  margin-bottom: 50px;

  @include mobile {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.card_wrapper {
  flex-grow: 1;
  margin-bottom: 70px;
}

.card {
  width: 100%;
  max-width: 276px;
  height: 300px;
  margin-bottom: 10px;

  &:hover {
    & .title {
      font-weight: $fw-semibold;
    }

    & .button {
      background: rgba($color: $color-purple-d, $alpha: 0.8);
    }

    & .content {
      transform: translateY(0);
    }

    &::before {
      transition: all 0.3s ease-in;
      opacity: 1;
      visibility: visible;
      transform: scale(1) rotate(70deg);
    }
  }

  @include tablet {
    max-width: 260px;
    height: 237px;
  }

  @include mobile {
    max-width: 260px;
    height: 175px;
  }
}

.card_caption {
  margin: 0;
  font-weight: $fw-bold;
}

.pagination {
  text-align: center;
  font-size: 20px;
  word-spacing: 20px;
  padding: 20px 0 50px 0;

  > span {
    color: $color-purple;
  }
}

.brand_bgr {
  & > div {
    height: 500px;

    @include mobile-tablet {
      height: 300px;
    }

    & div:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.brand_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  position: relative;
  margin: 0 auto;

  h1 {
    font-size: 30px;
    font-weight: $fw-regular;
    margin: 20px 0;

    @include mobile-tablet {
      margin: 0;
      font-size: 22px;
    }
  }

  p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
    line-height: 1;
  }

  p.small_screen {
    display: none;

    @include mobile-tablet {
      display: block;
      width: 300px;
    }

    & ~ p {
      @include mobile-tablet {
        display: none;
      }
    }
  }

  div {
    font-size: 28px;
    font-weight: $fw-regular;
    margin-bottom: 30px;
    @include mobile-tablet {
      margin: 0 0 15px 0;
      font-size: 16px;
    }
  }
}

.brands_container {
  width: 100%;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > div:first-child {
    & > div {
      & > div {
        margin-left: 50%;
        transform: translateX(-118px);

        @include mobile {
          transform: translateX(-81px);
          max-width: 300px;
        }

        & > div {
          cursor: pointer;
          min-width: 235px;
          margin-right: 10px;

          @include mobile {
            min-width: 162px;
          }

          & > div {
            @include mobile {
              min-height: 175px;
            }
          }
        }

        & > div:last-child {
          & > div:first-child {
            @include mobile {
              width: 162px;
              margin-bottom: -30px;
            }
          }
          & > div:last-child {
            min-height: 0px;
          }
        }
      }
    }
  }

  @include tablet-laptop {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 15px;
  }
}
