@import "/styles/style.scss";

.notification {
  border-bottom: 2px solid rgb(226, 226, 226);
}

.title {
  color: $color-purple;
  font-size: 20px;
}

.title_span {
  position: relative;
  padding-left: 14px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $color-purple;
  }

  &.read::before {
    content: none;
  }
}

.open_title {
  color: $color-purple;
  font-weight: $fw-bold;
}
