@import "styles/style.scss";

.main {
  padding-top: $header-desktop-height;

  @include mobile {
    padding-top: $header-mobile-height;
  }
}

.container {
  min-height: 100vh;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 70px 50px 40px;

  @include mobile-tablet {
    padding: 30px 15px 40px;
  }
}

.aside {
  margin-right: 24px;

  @include mobile-tablet {
    display: none;
  }
}
