@import "/styles/style.scss";

.input_wrapper {
  display: flex;
}

.input {
  width: 100%;
  & > div {
    height: 100%;
  }
}

.default {
  font-family: inherit;
  font-size: 16px;

  .label {
    color: $color-purple;
    font-size: 1em;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    input {
      &:focus {
        outline: 2px solid $color-purple;
        border-radius: 4px;
      }

      &::placeholder {
        opacity: 1;
      }
    }

    fieldset {
      border: none;
      outline: none;
    }
  }
}

.footer {
  font-family: inherit;
  .label {
    color: $color-purple;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    background-color: $color-grey-43;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    fieldset {
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;
      outline: none;
      background-color: $color-grey-43;
      z-index: -1;
    }
  }

  input {
    color: $color-white;
  }

  button {
    position: relative;
    top: 0.5px;
    font-family: inherit;
    background: $color-purple;
    border: none;
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 20px;
    color: $color-white;

    &:hover {
      background: $color-purple-d;
    }
  }
}

.black_button {
  font-family: inherit;
  .label {
    color: $color-purple;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    fieldset {
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;
      outline: none;
      z-index: -1;
    }
  }

  button {
    position: relative;
    top: 0.5px;
    font-family: inherit;
    background: $color-black;
    border: none;
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 20px;
    color: $color-white;

    &:hover {
      background: $color-grey-14;
    }
  }
}

.blue_outline {
  font-family: inherit;
  font-size: 15px;

  .label {
    color: $color-purple;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    input {
      &:focus {
        outline: 2px solid rgb(0, 162, 255);
      }
    }

    fieldset {
      border: none;
      outline: none;
    }
  }
}

.black_outline {
  height: 100%;
  font-family: inherit;
  font-size: 15px;

  .input_wrapper {
    height: 100%;
  }

  .label {
    color: $color-purple;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    border: 2px solid $color-black;
    border-radius: 0;
    fieldset {
      border: none;
      outline: none;
    }
  }
}

.gray_outline {
  height: 100%;
  font-family: inherit;
  font-size: 15px;

  .input_wrapper {
    height: 100%;
  }

  .label {
    color: $color-purple;
    font-weight: $fw-bold;
    margin-bottom: 5px;
  }

  .input {
    border: 2px solid $color-grey-de;
    border-radius: 5px;
    fieldset {
      border: none;
      outline: none;
    }
  }
}

.error {
  border: 2px solid $color-red;
}

.error_text {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $color-red;
}
