@import "styles/style.scss";

.swiper_button {
  position: absolute;
  z-index: 2;
  background-color: $color-purple-a60;
  color: $color-white;
  border: none;
  height: 25%;
  transition: opacity ease-in 0.1s;
}

.swiper_button:active {
  opacity: 0.7;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_outside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 130px !important;

  @include mobile {
    padding-bottom: 65px !important;
  }
}

.slide {
  padding: 0 10px;
}

.no_items {
  font-size: 2rem;
  width: fit-content;
}

.button_group {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 105px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include mobile {
    left: 0;
    margin: 0 auto;
    height: 40px;
  }

  .swiper_button {
    background-color: $color-purple;
    color: $color-white;
    border: none;
    width: 40%;
    height: 100%;
  }
}
