@import "styles/style.scss";

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 40px 0;
  background-color: $color-white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  font-weight: $fw-semibold;
  cursor: pointer;
}

.button {
  margin-right: 10px;
  width: 70px;

  border-radius: 100%;
  background: $color-white;
  color: $color-purple;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
