@import "styles/style.scss";

.main {
  border-radius: 10px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  border: 3px solid $color-white;
  display: flex;
  cursor: pointer;
  width: 409px;
  height: 159px;
  align-items: center;

  .insideMedium {
    height: 95px;
    margin-left: 32px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    .squareMedium {
      width: 95px;
      height: 95px;
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      .squareIconMedium {
        font-size: 57.11px;
        color: $color-purple-light;
      }
    }
    .textBox {
      margin-left: 15px;
      display: block;

      .totalTitle {
        font-size: 17px;
        font-weight: normal;
      }
      .totalNumber {
        font-size: 20px;
        font-weight: bold;
        color: $color-purple;
      }
      .lastUpdate {
        font-size: 12px;
        font-weight: normal;
      }
    }
    .rightImage {
      display: flex;
      position: relative;
      font-size: 77.55px;
      left: 48px;
      bottom: -28px;
    }
  }
}
.purple {
  background: linear-gradient(90deg, $color-purple-light, $color-purple-f1);
  color: $color-white;

  .squareMedium {
    background-color: $color-white;
  }
  .textBox p {
    color: $color-white !important;
  }
  .rightImage {
    .rightIcon {
      color: $color-purple-f;
    }
  }
}

.white {
  color: $color-black;
  background-color: $color-white;

  .squareMedium {
    background: $color-light-pink;
  }

  .rightImage {
    .rightIcon {
      color: $color-grey-f5;
    }
  }
}
