@import "styles/style.scss";

.content {
  width: 400px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: $fw-regular;
  color: $color-grey-8;
  text-align: center;

  @include mobile {
    width: 270px;
  }
}

.input {
  width: 100%;
  height: 46px;
  margin-bottom: 15px;

  @include mobile {
    height: 40px;
    font-size: 15px;
  }

  input::placeholder {
    opacity: 1;
    color: $color-black;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.button {
  width: 100%;
  height: 55px;
}