@import "styles/style.scss";

.container {
  width: 274px;
  height: 149px;
}
.wrapper {
  padding: 30px 30px 20px 30px;
}

.text {
  p {
    font-weight: $fw-medium;
    font-size: 14px;
    text-align: center;
    margin-bottom: 14px;
  }
}

.button_groupe {
  display: flex;
  align-items: center;
  justify-content: center;

  .button_left {
    margin-right: 15px;
    border-radius: 5px;
    width: 82px;
  }
  .button_right {
    color: $color-white;
    border-radius: 5px;
    background-color: $color-black;
    width: 82px;
  }
}
.tooltip {
  color: $color-black;
  max-width: 500;
  border-radius: 7px;
  border: 2px solid $color-purple;
  background-color: $color-white;
}

.arrow {
  color: $color-purple;
}