@import "/styles/style.scss";

.table {
  font-size: 17px;
  font-weight: $fw-medium;
  line-height: 1.18;

  // &__header {}

  &__control {
    color: $color-black;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;

    @include mobile-tablet {
      justify-content: flex-start;
      gap: 15px;
      font-size: 12px;
    }
  }
}

.arrows__container {
  display: inline-block;
  flex-shrink: 0;
  margin-right: 10px;
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 3.5px;
  cursor: pointer;
}

.reversedArrow {
  transform: rotate(180deg);
}

.cell {
  border-right: 1px solid $color-grey-de !important;
  vertical-align: center;

  font-size: 17px !important;
  font-weight: $fw-regular;
  line-height: 1.18;
  color: $color-black;

  &:last-child {
    border-right: 0 !important;
  }

  &_header {
    display: flex;
    align-items: center;
    font-weight: $fw-medium;
    white-space: nowrap;
  }

  .center {
    justify-content: center;
  }

  @include mobile-tablet {
    font-size: 12px !important;
  }
}

.empty {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 77px 0 65px;

  font-size: 26px;
  font-weight: $fw-medium;
  line-height: 1.19;
  color: $color-grey-1e;
}

.empty__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 146px;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: $color-purple;
  font-size: 52px;
}

.page_select {
  display: flex;
  align-items: center;
  gap: 20px;

  &_caption {
    font-size: 17px;
    font-weight: $fw-medium;
    line-height: 20px;

    @include mobile-tablet {
      display: none;
    }
  }

  &_control {
    height: 53px;

    & > div > div {
      padding-top: 12px;
      padding-bottom: 12px;
      @include mobile-tablet {
        padding: 6px;
      }
    }
  }

  @include mobile-tablet {
    order: -1;
  }
}

.date_select,
.sort_select {
  height: 53px;

  & > div > div {
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: none;

    @include mobile-tablet {
      padding: 6px;
    }
  }
}

.scrollbar {
  & > :global(.simplebar-horizontal) {
    background-color: $color-grey-f4;
    border-radius: 5px;

    & > div::before {
      opacity: 1;
      background: $color-purple;
    }
  }
}

.pagination_desktop {
  @include mobile-tablet {
    display: none;
  }
}

.pagination_mobile {
  margin-left: auto;
  padding-top: 10px;
  @include laptop-desktop {
    display: none;
  }
}
