@import "styles/style.scss";

.wrapper {
  height: 100%;
}

.label {
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: $fw-bold;
  color: $color-purple;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);

  font-size: 18px;
  font-weight: $fw-bold;
  color: $color-black;

  & :not(:last-child) {
    margin-right: 20px;
  }
}
