@import "styles/style.scss";

.header,
.header_light {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  height: $header-desktop-height;
  background-color: $color-grey-1c;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.04);

  @include mobile {
    height: $header-mobile-height;
  }

  &.with_breadcrumbs {
    height: $header-with-breadcrumbs-desktop-height;
    @include mobile {
      height: $header-with-breadcrumbs-mobile-height;
    }
  }
}

.line::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 36%;
  height: 5px;
  background-image: linear-gradient(
    to right,
    $color-purple 53%,
    $color-cyan 100%
  );

  @include mobile-tablet {
    width: 50%;
  }
}

.header_light {
  height: $header-light-desktop-height;
  align-items: center;
  background-color: $color-grey-f4;

  @include mobile-tablet {
    height: $header-light-mobile-height;
  }
}

.top_group,
.bottom_group {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;

  @include tablet {
    padding: 0 45px;
  }

  @include mobile {
    padding: 0 16px;
  }
}

.top_group {
  max-height: 51px;
  background-color: $color-grey-14;

  @include mobile {
    max-height: 47px;
  }
}

.bottom_group {
  max-height: 86px;

  @include mobile {
    max-height: 83px;
  }

  & > * {
    width: 33%;
  }
}

.bottom_left_group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom_right_group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;

  @include mobile-tablet {
    display: none;
  }
}

.bottom_right_group_mobile {
  display: none;

  @include mobile-tablet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
}

.email {
  font-weight: $fw-regular;
  font-size: 14px;
  color: $color-white;

  @include mobile {
    font-size: 11px;
  }
}

.caption {
  font-weight: $fw-regular;
  font-size: 14px;
  color: $color-grey-60;

  @include mobile {
    display: none;
  }
}

.socials {
  display: flex;
  gap: 6px;

  @include mobile-tablet {
    gap: 9px;
  }
}

.logo {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  @include mobile-tablet {
    height: 53px;
  }

  & * {
    height: 100% !important;
    object-fit: contain;
  }
}

.button_search {
  background: transparent;
  color: $color-white;
  font-size: 27px;
  margin-left: 20px;

  &:hover {
    background: $color-purple;
  }

  @include mobile-tablet {
    margin-left: 8px;
    width: 29px;
    padding: 4px;
    font-size: 21px;
  }
}

.dropdown_wrapper {
  position: relative;
}

.button_account {
  position: relative;
  padding: 6px;
  background: transparent;
  color: $color-white;
  font-weight: $fw-regular;
  font-size: 14px;
  white-space: nowrap;

  & > span {
    width: 33px;
  }

  &:hover {
    background: $color-purple;
  }

  @include mobile-tablet {
    width: 33px;
    background: $color-purple;
    color: $color-white;

    &:hover {
      background: $color-purple-d;
    }
  }
}

.account_dropdown_text {
  position: absolute;
  color: $color-white;
  top: 35px;
  left: 50%;
  font-size: 9px;
  white-space: nowrap;
  transform: translateX(-50%);
}
.account_dropdown_arrow {
  position: absolute;
  color: $color-white;
  top: 35px;
  left: 50%;
  font-size: 9px;
  transform: translateX(-50%);

  @include mobile {
    top: 48px;
  }
}

.button_basket {
  padding: 6px;
  background: transparent;
  color: $color-white;
  font-weight: $fw-regular;
  font-size: 14px;
  white-space: nowrap;

  &:hover {
    background: $color-purple;
  }

  @include mobile-tablet {
    width: 33px;
    border-color: $color-purple;
    color: $color-white;

    &:hover {
      border-color: $color-purple;
      background: $color-purple;
    }
  }
}

.popover_paper {
  top: $header-desktop-height !important;
  width: 188px;
  border-radius: 0 0 30px 0;
  background-color: $color-grey-f4;

  @include mobile {
    top: 100px !important;
    left: auto !important;
    right: 0;
  }
}

.dropdown_popover {
  & .menu {
    margin: 0;
    padding: 30px 25px;
    list-style-type: none;
  }

  & .menu_item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-ba;
    }
  }

  & .link {
    display: block;
    width: 100%;
    padding: 10px 0;

    font-size: 14px;
    font-weight: $fw-medium;
    line-height: 15px;
    color: $color-black;

    &:hover {
      color: $color-purple;
    }

    &_active {
      font-weight: $fw-semibold;
      color: $color-purple;
    }
  }

  @media screen and (max-width: 400px) {
    display: block;
    position: absolute;
    top: 30px;
  }
}

.button_lang_top {
  display: none;
  min-width: 28px;
  padding: 4px;
  font-size: 12px;
  font-weight: $fw-medium;
  color: $color-white;

  & > span {
    padding-left: 2px;
    font-size: 9px;
  }

  &:hover {
    background-color: $color-purple-d;
  }

  @include mobile-tablet {
    display: block;
  }
}

.button_lang_bottom {
  background: $color-purple;
  font-weight: $fw-medium;
  font-size: 14px;

  &:hover {
    background-color: $color-purple-d;
  }
}
