@import "styles/style.scss";

.file_select {
  input {
    font-family: inherit;
  }
}

.file_input {
  opacity: 0;
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 80px;
}

.input {
  font-size: 1em;
  padding: 0 10px;
  color: $color-grey-a2;
  height: 40px;
  width: 170px;
  resize: none;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 5px $color-grey-e6;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.button {
  font-size: 1em;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  padding: 0 20px;
  color: $color-white;
  background-color: $color-black;
}
