@import "styles/style.scss";

.section_header {
  position: relative;
  max-width: 1278px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-black;
  border-radius: 5px;
  padding: 0 25px;

  .with_decor::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 35px;
    background: $main-gradient;
    border-radius: 0 5px 0 100%;
  }

  @include mobile {
    height: 45px;
  }
}

.title {
  font-weight: $fw-semibold;
  font-size: 18px;
  color: $color-white;

  @include mobile {
    font-size: 12px;
  }
}

.action_text {
  display: block;
  margin-right: 64px;
  font-weight: $fw-semibold;
  font-size: 18px;
  color: $color-white;
  text-decoration: underline;
  cursor: pointer;

  @include mobile {
    font-size: 12px;
  }
}
