@import "styles/style.scss";

.sectionHeader {
    position: relative;
    width: 1278px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-black;
    border-radius: 5px;
    padding: 0 89px 0 25px;
    &__title {
        font-family: Spartan;
        font-weight: $fw-semibold;
        font-size: 18px;
        color: $color-white;
    }
    &__actionText {
        font-family: Spartan;
        font-weight: $fw-semibold;
        font-size: 18px;
        color: $color-white;
        text-decoration: underline;
        cursor: pointer;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: 50%;
        width: 40px;
        height: 35px;
        background: $main-gradient;
        border-radius: 0 5px 0 100%;
    }
}
