@import "styles/style.scss";

.main {
  position: relative;
  padding-top: $header-with-breadcrumbs-desktop-height;
  min-height: 100vh;

  @include mobile {
    padding-top: $header-with-breadcrumbs-mobile-height;
    min-height: fit-content;
  }
}

.container {
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  @include container-padding;
}
