@import "styles/style.scss";

.main {
  background: $color-grey-de;
  width: 100%;
  padding: 0 75px;
  height: 48px;
  display: flex;
  justify-content: center;
  color: $color-black;

  & > nav > ol > li {
    display: flex;
    align-items: center;
  }

  @include mobile-tablet {
    padding: 0 45px;
  }

  @include mobile {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    top: 130px;
    height: 31px;
    background: $color-white;

    & > nav > ol > li {
      margin: 0;
      font-size: 10px;
    }

    & > nav > ol > li > .MuiBreadcrumbs-li{
      text-decoration: underline;
    }
  }
  .breadcrumb {
    font-size: 14px;
    font-weight: $fw-regular;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 0.56px;
    color: $color-black;

    &:first-letter {
      text-transform: uppercase;
    }
    @include mobile {
      font-size: 9px;
      line-height: 1.22;
      letter-spacing: 0.36px;
      &:link{
        text-decoration: underline;
      }
    }
  }

  .route {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    @include mobile{
      color: $color-grey-ba;
    }
  }
  .active {
    font-weight: $fw-bold;
    pointer-events: none;
    text-decoration: none;
    
    @include mobile{
      font-weight: normal;
    }
  }
  p::first-letter {
    text-transform: uppercase;
  }
}
