@import "styles/style.scss";

.footer {
  position: relative;
  padding: 90px 185px 10px;
  background-color: #1c1c1c;
  color: #fff;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: -70px;
    bottom: -70px;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-image: linear-gradient(137deg, #8100ef 7%, #00f5ff 126%);
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1246px;
    height: 5px;
    object-fit: contain;
    background-image: linear-gradient(to left, #8100ef 100%, #00f5ff 0%);
  }
  &__content {
    display: flex;
    padding-bottom: 103px;
    position: relative;

    &::after {
      font-family: "";
      content: "ILONSI";
      position: absolute;
      right: -180px;
      bottom: -105px;
      opacity: 0.08;
      font-size: 120px;
    }
  }
  &__left {
    margin-right: 170px;
    max-width: 320px;
    width: 100%;
  }
  &__text {
    font-family: "League Spartan";
    padding-top: 45px;
    object-fit: contain;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
  }
  &__right {
    width: 100%;
  }
  &__right h4 {
    font-family: "League Spartan";
    font-size: 17px;
    font-weight: normal;
    color: #8100ef;
  }
  &__form p {
    object-fit: contain;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
  }
  &__form form {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
  &__form form input {
    outline: none;
    width: 437px;
    height: 50px;
    object-fit: contain;
    background-color: #434343;
    border: none;
    padding: 0px 12px;
    border-radius: 5px 0px 0px 5px;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__form form input::placeholder {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__button {
    width: 106px;
    height: 50px;
    object-fit: contain;
    background: #8100ef;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
  }
  &__button:hover {
    background: #6402b9;
  }
  &__navigate {
    margin-top: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__navigate ul {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    list-style: none;
  }
  &__navigate ul h4 {
    padding-bottom: 15px;
  }
  &__navigate ul a {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
    transition: 0.3s;
  }
  &__navigate ul a:hover {
    color: #acacac;
  }
  &__span {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__span:first-child {
    display: none;
  }
}
.socials {
  padding-top: 35px;
  display: flex;
  align-items: center;
}
.socials div {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.socials img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1620px) {
  .footer {
    padding: 90px 105px 10px;
  }
}
@media (max-width: 1540px) {
  .footer {
    &__left {
      margin-right: 50px;
    }
  }
}
@media (max-width: 1360px) {
  .footer {
    &__content {
      flex-wrap: wrap;
    }
    &__left {
      margin-right: 0;
      max-width: 100%;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    &__right {
      width: 100%;
    }
    &__form form {
      width: 100%;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__navigate h4 {
      text-align: left !important;
    }
    &::after {
      left: -50px;
      bottom: -50px;
      width: 130px;
      height: 130px;
    }
    &__content {
      &::after {
        right: -50px;
        bottom: -75px;
        font-size: 80px;
      }
    }
  }
  .socials {
    justify-content: center;
  }
}
@media (max-width: 1160px) {
  .footer {
    padding: 90px 55px 10px;

    &__navigate {
      flex-wrap: wrap;
    }
    &::after {
      content: "";
      position: absolute;
      left: -30px;
      bottom: -30px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background-image: linear-gradient(137deg, #8100ef 7%, #00f5ff 126%);
    }
    &__content {
      &::after {
        right: -45px;
        bottom: -50px;
        font-size: 50px;
      }
    }
  }
}
@media (max-width: 460px) {
  .footer {
    padding: 40px 25px 10px;
    &::after {
      bottom: 30px;
    }
    &::before {
      width: 217.6px;
      height: 5px;
      margin: 0 0 43px 33.4px;
      object-fit: contain;
      background-image: linear-gradient(to left, #8100ef 100%, #00f5ff 0%);
    }
    &__left {
      margin-bottom: 25px;
    }
    &__text {
      padding-top: 5px;
      font-size: 14px;
      line-height: 1.43;
    }
    &__top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__navigate {
      margin-top: 66px;
      margin-bottom: 94px;
    }
    &__copyright {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      padding: 14px 20px;
      border-top: solid 0.5px #2e2e2e;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #1c1c1c;
      z-index: 111;
    }
    &__span {
      object-fit: contain;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 3;
      letter-spacing: normal;
      text-align: center;
      color: #959595;
    }
    &__span:first-child {
      display: block;
    }
    &__content {
      padding-bottom: 50px;
      &::after {
        bottom: 20px;
        right: -20px;
      }
    }
  }
  .socials {
    padding-top: 0;
  }
}
