@import "styles/style.scss";
.tittle {
  font-size: 18px;
  font-weight: 600;
}
.content {
  font-size: 15px;
  width: 380px;
  text-align: center;
}
.button {
  width: 380px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;

  .continue {
    width: 180px;
  }
  .close {
    width: 180px;
    background: $color-white none;
    color: $color-black;
    border: 2px solid $color-black;
  }
}
