@import "styles/style.scss";
.flex_box {
  display: flex;
  width: 100%;

  .container {
    width: 100%;
  }

  .pictures {
    width: 175px;
    height: 215px;
    background-color: #cccccc;
    margin-right: 25px;
  }
  .tittle {
    font-size: 18px;
    font-weight: 600;
  }
  .content {
    width: 100%;
  }
  .select {
    > div > input{
      width: 290px;
    }
    .take_photo {
      margin-top: 15px;
      u {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .button {
    float: right;
    width: 110px;
    button {
      width: 110px;
    }
  }
}

@media screen {
  @include mobile {
    .flex_box {
      width: 300px;
      flex-wrap: wrap;
      justify-content: center;

      .content {
        width: 215px;
        margin: auto;
        text-align: center;
      }
      .select > div > input {
        width: 210px;
      }
      .take_photo {
        margin-top: 15px;
        text-align: center;
        u {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    .pictures {
      margin-right: 0 !important;
    }
    .tittle {
      text-align: center;
      margin-top: 10px;
    }

    .button {
      float: none !important;
      width: 100% !important;
      button {
        width: 100% !important;
        margin-top: 10px;
      }
    }
  }
}
