@import "styles/style.scss";

.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.favorites {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 19px;
  z-index: 5;
  cursor: pointer;

  &.is_favorite {
    color: $color-purple;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    right: 8px;
    opacity: 0;
    background-color: rgba(#1976d2, 0.4);
    border-radius: 50%;
    scale: 1;
    transform-origin: center;
  }

  &:hover {
    color: lighten($color-purple, 10%);
    &::before {
      animation: hoverAnimation 0.05s forwards;
    }
  }
}

.top_group {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 276px;
  color: #000;
  font-size: 14px;
  padding-bottom: 15px;
  margin-right: 15px;

  @include mobile {
    min-width: 162px;
    margin-right: 0;
  }

  .image {
    position: relative;
    background-color: $color-grey-f4;
    min-height: 300px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    width: 100%;

    @include mobile {
      min-height: 175px;
    }
  }

    & img {
      transform: scale(0.72);
    }
  }
}

.bottom_group {
  max-width: 276px;
  min-width: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include mobile {
    min-width: 162px;
  }

  .add_button {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: $color-white;
    cursor: pointer;
  }

  .info_wrapper {
    line-height: 1.5em;
    margin-bottom: 5px;
  }

  .title {
    font-weight: $fw-bold;
    color: $color-purple;
    font-size: 18px;
    margin-bottom: 6px;

    @include mobile{
      font-size: 13px;
      line-height: 15px;
    }
  }

  .subtitle {
    align-self: start;
    font-size: 14px;
    margin-bottom: 3px;

    @include mobile{
      font-size: 10px;
      font-weight: 500;
      line-height: 13px;
    }
  }

  .description {
    font-size: 13px;
    line-height: 1.3rem;
    color: $color-grey-8;

    @include mobile{
      font-size: 8px;
      line-height: 11px;
    }
  }

  .price {
    margin-bottom: 10px;
  }
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(8);
    opacity: 0.15;
  }
}
