@import "styles/style.scss";

.main {
  position: relative;
  padding-top: $header-with-breadcrumbs-desktop-height;
  min-height: 100vh;
  width: 100%;

  @include mobile {
    padding-top: $header-with-breadcrumbs-mobile-height;
    min-height: fit-content;
  }
}

.desktop {
  @include mobile {
    display: none !important;
  }
}

.mobile {
  @include tablet-desktop {
    display: none !important;
  }
}
