@import "styles/style.scss";

.main {
  position: relative;
  padding-top: $header-desktop-height;
  min-height: 100vh;
  width: 100%;

  @include mobile {
    padding-top: $header-mobile-mobile-height;
    min-height: fit-content;

    & > div:first-child {
      background-color: $color-white;
    }
  }
}

.desktop {
  @include mobile {
    display: none !important;
  }
}

.mobile {
  @include tablet-desktop {
    display: none !important;
  }
}
