@import "/styles/style.scss";

.upload {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed $color-grey-c;
  color: $color-grey-c;
  cursor: pointer;
}

.upload > span {
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: 900;
  color: $color-purple;
}

.error {
  font-weight: $fw-medium;
  color: $color-red;
}
