@import "styles/style.scss";

.container {
  display: flex;
}
.wrapper {
  background-color: $color-white;
  box-shadow: 0 0 20px 0 $color-black-a70;
  border-radius: 10px;
  max-width: 300px;
  min-height: 400px;

  @include mobile-tablet {
    max-width: 165px;
    min-height: 230px;
  }
}
.pie_item {
  padding: 30px;
  display: block;
  h2 {
    font-size: 18px;
    font-weight: $fw-semibold;
  }

  @include mobile-tablet {
    padding: 15px;
    h2 {
      font-size: 14px;
    }
  }
}
.content {
  max-width: 250px;
  width: 100%;
  margin-top: -60px;

  @include mobile-tablet {
    margin-top: -40px;
  }
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info_inner {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.box {
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  margin-right: 15px;
  border-radius: 4px;

  @include mobile-tablet {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.title {
  font-size: 18px;
  font-weight: $fw-medium;
  white-space: nowrap;

  @include mobile-tablet {
    font-size: 12px;
    line-height: 14px;
  }
}
.num {
  font-size: 18px;
  font-weight: $fw-bold;
  margin-left: auto;

  @include mobile-tablet {
    font-size: 12px;
    line-height: 14px;
  }
}

.rotate {
  transform: rotate(37deg);
}
