@import "styles/style.scss";

.container {
  display: flex;
}
.wrapper {
  background-color: $color-white;
  box-shadow: 0 0 20px 0 $color-black-a70;
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
  height: 400px;
}
.pie_item {
  padding: 0 30px;
  display: block;
  h2 {
    padding-top: 30px;
    font-size: 18px;
    font-weight: $fw-semibold;
  }
}
.content {
  width: 250px;
  margin-top: -60px;
}

.info {
  min-width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.info_inner {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 33px;
  height: 33px;
  margin-right: 15px;
  border-radius: 4px;
}
.title {
  font-size: 18px;
  font-weight: $fw-medium;
}
.num {
  font-size: 18px;
  font-weight: $fw-bold;
  margin-left: 110px;
}

.rotate {
  transform: rotate(37deg);
}
