@import "styles/style.scss";

.orderItem {
  padding: 35px;
  background: $color-white;
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.06);
  width: 100%;

  > p {
    font-size: 18px;
    background-color: $color-grey-ed;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    > span {
      color: $color-purple;
    }
  }

  @include mobile-tablet {
    padding: 17px;
  }
}

.top_group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding-bottom: 35px;
  font-size: 18px;

  @include mobile-tablet {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
    border: none;
  }
}

.top_left_group {
  display: flex;
  width: 100%;

  @include mobile-tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.top_right_group {
  @include mobile-tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: $fw-bold;
  }
}

.text_block {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  padding: 0 30px;
  font-size: 18px;

  &:first-child {
    padding-left: 0;
  }

  @include laptop {
    padding: 0 20px;
  }

  @include mobile-tablet {
    padding: 0;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: 1px solid #d0d0d0;
    }
  }
}

.bottom_group {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile-tablet {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
}

.user_block {
  display: flex;
  align-items: center;

  @include mobile-tablet {
    margin-bottom: 18px;
    width: 100%;
    justify-content: space-between;
  }

  span {
    text-decoration: underline;
    font-size: 18px;
    font-weight: $fw-semibold;
  }
}

.user_block_icon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 25px;
  background-color: #fff;
  color: $color-purple;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  @include mobile-tablet {
    width: 48px;
    height: 48px;
  }
}

.detailBtn {
  height: 55px;
  font-size: 18px;
  padding-left: 60px;
  padding-right: 60px;

  @include mobile-tablet {
    height: 45px;
    width: 100%;
  }
}

.title {
  color: $color-purple;
  font-weight: $fw-bold;
  white-space: nowrap;
}

.ordersInformation {
  display: flex;
  padding: 35px 100px;

  @include tablet {
    flex-direction: column;
    padding: 20px;
  }

  @include mobile {
    flex-direction: column;
    padding: 20px;
  }
}

.deliveryInfo {
  width: 50%;
  border-right: 1px solid #d0d0d0;

  @include tablet {
    border-right: none;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  @include mobile {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 20px;
    border-right: none;
    margin-bottom: 30px;
  }

  padding-right: 30px;

  h2 {
    margin-bottom: 20px;
  }
}

.paymentInfo {
  width: 50%;
  padding-left: 120px;

  @include tablet {
    width: 100%;

    padding-left: 0;
  }

  @include mobile {
    width: 100%;

    padding-left: 0;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    display: flex;
    justify-content: space-between;

    @include mobile {
      font-size: 15px;
    }
  }
}

.amountPaid {
  color: $color-purple;
  padding-top: 20px;
}

.cardsArea {
  padding: 30px;

  > p {
    color: $color-purple;
    text-decoration: underline;
    margin-bottom: 30px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
  }
}
