.button {
  &.contained_button {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    color: #fff;
    text-transform: none;
    background-color: #8100ef;
    background: linear-gradient(90deg, #00f5ff -53%, #8100ef 128%)
  }
  
  &.contained_button:disabled {
    background: #ddd;
  }

  &.outlined_button {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    color: #000;
    text-transform: none;
    border-radius: 4px;
    border: solid 2px #000;
    background-color: transparent;
  }
  
  &.outlined_button:hover {
    background: #ddd;
    border-width: 2px;
  }
  &.outlined_button:disabled {
    color: #666;
    border-color: #666;
    border-width: 2px;
    background: #ddd;
  }
}