.button {
  font-family: inherit;
  text-transform: none;
}

.contained_button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #fff;
  background-color: #8100ef;
  background: linear-gradient(90deg, #00f5ff -53%, #8100ef 128%);

  &:disabled {
    background: #ddd;
  }
}

.outlined_button {
  border: solid 2px #000;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  color: #000;
  background-color: transparent;

  &:hover {
    border: solid 2px #000;
    background-color: #ddd;
  }

  &:disabled {
    border: solid 2px #666;
    color: #666;
    background-color: #ddd;
  }
}
