$color-white: #fff;
$color-grey-e2: #e2e2e2;
$color-grey-c: #ccc;
$color-grey-9: #999;
$color-grey-6: #666;
$color-grey-60: #606060;
$color-grey-3: #333;
$color-grey-1c: #1c1c1c;
$color-grey-14: #141414;

$color-black: #000;
$color-black-a80: rgba(0, 0, 0, 0.8);
$color-black-a60: rgba(0, 0, 0, 0.6);
$color-black-a40: rgba(0, 0, 0, 0.4);
$color-black-a20: rgba(0, 0, 0, 0.2);

$color-cyan: #00f5ff;

$color-purple: #8100ef; // rgb(129, 0, 239) hsl(272, 100%, 47%);
$color-purple-d: hsl(272, 100%, 42%);
$color-purple-a80: rgba(129, 0, 239, 0.8);
$color-purple-a60: rgba(129, 0, 239, 0.6);
$color-purple-a40: rgba(129, 0, 239, 0.4);
$color-purple-a20: rgba(129, 0, 239, 0.2);

$color-green: #25754a; // rgb(37, 117, 74) hsl(148, 52%, 30%);
$color-green-d: hsl(148, 52%, 25%);
$color-green-a80: rgba(37, 117, 74, 0.8);
$color-green-a60: rgba(37, 117, 74, 0.6);
$color-green-a40: rgba(37, 117, 74, 0.4);
$color-green-a20: rgba(37, 117, 74, 0.2);

$color-red: #ff4e4e; // rgb(255, 77, 77) hsl(0, 100%, 65%);
$color-red-d: hsl(0, 100%, 60%);
$color-red-a80: rgba(255, 77, 77, 0.8);
$color-red-a60: rgba(255, 77, 77, 0.6);
$color-red-a40: rgba(255, 77, 77, 0.4);
$color-red-a20: rgba(255, 77, 77, 0.2);

$main-gradient: linear-gradient(90deg, $color-cyan -53%, $color-purple 128%);
