$header-desktop-height: 137px;
$header-mobile-height: 130px;

$header-light-desktop-height: 118px;
$header-light-mobile-height: 83px;

$breadcrumbs-desktop-height: 48px;
$breadcrumbs-mobile-height: 31px;
