$header-desktop-height: 137px;
$header-mobile-height: 130px;

$header-light-desktop-height: 118px;
$header-light-mobile-height: 83px;

$breadcrumbs-desktop-height: 48px;
$breadcrumbs-mobile-height: 31px;

$header-with-breadcrumbs-desktop-height: $header-desktop-height +
  $breadcrumbs-desktop-height;
$header-with-breadcrumbs-mobile-height: $header-mobile-height +
  $breadcrumbs-mobile-height;
