@import "/styles/style.scss";

.header_info {
  margin-bottom: 50px;

  @include mobile-laptop {
    margin-bottom: 25px;
  }
}

.button_wrapper {
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

  @include mobile-laptop {
    margin-bottom: 25px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 50px;
  &.others_wrapper {
    gap: 30px;
  }

  @include mobile-laptop {
    gap: 40px;
  }
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 25px;
  min-height: 65px;
  @include mobile-tablet {
    flex-wrap: wrap;
    gap: 40px;
  }

  &.row_wrap {
    @include laptop {
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  & > div {
    width: 100%;
  }

  & > .inner_row {
    width: 200%;
    display: flex;
    align-items: flex-end;
    gap: 25px;
    min-height: 65px;
    @include mobile-tablet {
      flex-wrap: wrap;
      gap: 40px;
    }

    & > div {
      width: 100%;
    }
  }
}

.others_row {
  display: flex;
  gap: 20px;
  padding: 20px 0;

  @include mobile-laptop {
    padding: 20px 5px;
    gap: 8px;
  }
}

.select {
  min-width: 250px;
  & > div {
    height: 65px !important;
  }
}

.input {
  height: 65px !important;
}

.table__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 53px;

  @include mobile-laptop {
    flex-wrap: wrap;
  }

  .title {
    font-size: 18px;
    line-height: 24px;
    font-weight: $fw-bold;
  }
}

.results {
  display: flex;
  gap: 25px;

  &.mobile {
    display: none;
  }

  @include mobile-laptop {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile-laptop {
      align-items: flex-start;
    }
  }

  .filtering {
    font-size: 16px;
    line-height: 21px;
    font-weight: $fw-regular;
  }

  .update {
    font-size: 13px;
    line-height: 17px;
    font-weight: $fw-semibold;
  }
}

.button_excel {
  max-width: 375px;
  width: 100%;
  background: $color-green;

  &:hover {
    background-color: $color-green-d;
  }
}

.button_black {
  min-height: 65px;
  height: 100%;
  min-width: 360px;
  width: 100%;
  background: $color-black;

  &:hover {
    background-color: $color-grey-3;
  }
}

.button_clean {
  min-height: 65px;
  height: 100%;
  min-width: 360px;
  width: 100%;
  background: $color-grey-f4;
  color: $color-black;

  &:hover {
    background-color: $color-grey-c;
  }
}

.scrollbar {
  & > :global(.simplebar-horizontal) {
    background-color: $color-grey-f4;
    border-radius: 5px;

    & > div::before {
      opacity: 1;
      background: $color-purple;
    }
  }
}
