@import "styles/style.scss";

.title {
  margin: 1rem 0;
  line-height: 1.15;
  font-size: 4rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 55px;
  background-color: $color-white;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

  > div {
    margin-bottom: 18px;
  }

  @include mobile-tablet {
    padding: 18px;
  }
}

.detailsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 84px;
  box-shadow: none;

  @include mobile-tablet {
    justify-content: center;
  }
}
