@import url("/UI/Accordion/Accordion.tsx");

.accordion {
  box-shadow: none;
  &.background_black {
    background-color: black;
    color: white;
  }
  .header {
    &.bold_black {
      color: black;
      font-weight: bold;
    }
    &thin_black {
      color: black;
      font-weight: normal;
    }
    &.bold_violet {
      color: #8100ef;
      font-weight: bold;
    }
    &thin_violet {
      color: #8100ef;
      font-weight: normal;
    }
  }
  .openTitle {
    position: absolute;
    right: 35px;
    &.bold_black {
      color: black;
      font-weight: bold;
    }
    &thin_black {
      color: black;
      font-weight: normal;
    }
    &.bold_violet {
      color: #8100ef;
      font-weight: bold;
    }
    &thin_violet {
      color: #8100ef;
      font-weight: normal;
    }
  }
}
